﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@{
    ViewBag.Title = "Cost Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var curDate = @ViewBag.DateTime.ToString("dd/MM/yyyy");

    bool PrintBtn = false;
    bool ExcelBtn = false;

}

@if (SiteInfo.IsLogged)
    {
        BasicCRUDController bc = new BasicCRUDController();
        PrintBtn = bc.GetUserTicketView("/Cost/CostReport");
        ExcelBtn = bc.GetUserTicketView("/Cost/ExportToExcel");
    }

<div class="container">
    <a href="javascript:void(0);">
        @Strings.inventory >  @Strings.CostReport
    </a>
    <table width="50%" style="margin:0px;text-align:center">
        <tr>

            <td>

                <label style="margin: 20px">@Strings.From</label>
            </td>
            <td>
                <input class="form-control datepicker" id="FromDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>
            <td>
                <label style="margin: 20px">@Strings.To</label>
            </td>
            <td>
                <input class="form-control datepicker" id="ToDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" onclick="searchBtn()">@Strings.Search</button>
            </td>
            <td style="text-align:left">
                @if (PrintBtn)
                {<button class="btn btn-primary" id="printReport" onclick="PrintReport()">@Strings.PrintReport</button>}

            </td>
            <td>
                @if (ExcelBtn)
                {<button onclick="DownloadExcel()" class="btn  btn-primary">@Strings.ExportToExcel</button>}

            </td>

        </tr>

    </table>
    <br />
    <table width="100%" id="dtcost">
        <thead>

        </thead>
        <tbody>
        </tbody>
    </table>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        intializeCostGrid();
    });

    function intializeCostGrid() {
        debugger
        $('#dtcost').DataTable({
            ajax: {
                url: "/Cost/Search",
                type: "Get",
                data: function (d) {
                        return $.extend({}, d, {
                            FromDate: $("#FromDate").val(),
                            ToDate: $("#ToDate").val()
                        });
                }
            },
            columns: [
                { "data": null, title: '@Strings.SN', width: "3%" },
                { data: 'Code', title: '@Strings.Code', width: "14%" },
                { data: 'Name', title: '@Strings.Name', width: "14%" },
                { data: 'Price', title: '@Strings.price', width: "8%" },
                { data: 'PriceNoVat', title: '@Strings.PriceNoVat', width: "8%" },
                { data: 'RawMaterial', title: '@Strings.RawMaterial', width: "8%" },
                { data: 'RawMaterialPercent', title: '@Strings.RawMaterialPercent', width: "5%" },
                { data: 'Packing', title: '@Strings.Packing', width: "8%" },
                { data: 'PackingPercent', title: '@Strings.PackingPercent', width: "5%" },
                { data: 'Total', title: '@Strings.Total', width: "8%" },
                { data: 'TotalPercent', title: '@Strings.TotalPercent', width: "5%" },
                { data: 'Revenue', title: '@Strings.Revenue', width: "8%" },
                { data: 'RevenuePercent', title: '@Strings.RevenuePercent', width: "5%" },
            ],

            fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $("td:nth-child(1)", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        });

    }

    function searchBtn() {
        $('#dtcost').DataTable().ajax.reload();

    }

    function PrintReport()
    {
         var Url = '/Cost/CostReport?FromDate=' + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val();
         window.open(Url , '_blank');
    }

    function DownloadExcel()
    {
        $.ajax({
            type: "POST",
            url: "/Cost/ExportToExcel",
            data: {
                FromDate: $("#FromDate").val(),
                ToDate: $("#ToDate").val()
            },
            cache: false,
            success: function (data) {
                window.location = '/Cost/Download';
            },
            error: function (data) {
                Materialize.toast("Something went wrong. ", 3000, 'rounded');
            }
        });
    }
</script>