﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var curDate = @ViewBag.DateTime.ToString("dd/MM/yyyy");
    bool ExcelBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    ExcelBtn = bc.GetUserTicketView("/CustodyFollowUp/ExcelExport");
    PrintBtn = bc.GetUserTicketView("/CustodyFollowUp/CustodyFollowUpReport");
}
<div class="container">
    <a href="javascript:void(0);">
        @Strings.Custody >  @Strings.CustodyFollowUp
    </a>
    <table width="50%" style="margin:0px;text-align:center">
        <tr>

            <td>

                <label style="margin: 20px">@Strings.From</label>
            </td>
            <td>
                <input class="form-control datepicker" id="FromDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>
            <td>
                <label style="margin: 20px">@Strings.To</label>
            </td>
            <td>
                <input class="form-control datepicker" id="ToDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>

        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" onclick="searchBtn()">@Strings.Search</button>
            </td>
            <td style="text-align:left">
                @if (PrintBtn)
                {<button class="btn btn-primary" id="printReport" onclick="PrintReport()" ;">@Strings.PrintReport</button>}
            </td>
            <td>
                @if (ExcelBtn)
                {<button onclick="DownloadExcel()" class="btn  btn-primary">Excel Export</button>}
            </td>

        </tr>

    </table>
    <br />
    <table width="100%" id="dtCustody">
        <thead>

        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <table>
        <tr>
            <td>
                <label>Privious Balance</label>
            </td>
            <td>
                <input id="PreBalance" class="form-control" style="width:100px ; margin:10px" disabled />
            </td>
            <td>
                <label>New Custody</label>
            </td>
            <td>
                <input id="NewCustody" class="form-control" style="width:100px ; margin:10px" disabled />
            </td>
            <td>
                <label>Payments</label>
            </td>
            <td>
                <input id="Payments" class="form-control" style="width:100px ; margin:10px" disabled />
            </td>
            <td>
                <label>Currunt Balance</label>
            </td>
            <td>
                <input id="CurBalance" class="form-control" style="width:100px ; margin:10px" disabled />
            </td>
        </tr>
    </table>

</div>

<script>
    $(document).ready(function () {
        intializeCustodyGrid();


    })

    function intializeCustodyGrid() {

        $('#dtCustody').DataTable({
                ajax: {
                    url: "/CustodyFollowUp/Search",
                    type: "Get",
                    data: function (d) {
                        return $.extend({}, d, {
                            fromDate: $("#FromDate").val(),
                            toDate: $("#ToDate").val()
                        });
                    }
                },
                 columns: [

                     { "data": null, title: '@Strings.SN' },
                     { data: 'TansDateString', title: '@Strings.date', width: "10%" },
                     { data: 'CustodyItem', title: '@Strings.Custodyitem', width: "20%" },
                     {
                         data: 'CurrentAmount', title: '@Strings.Amount', width: "10%",
                         render: function (CurrentAmount, type, row, meta) {
                             return   CurrentAmount.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                         }
                     },
                     { data: 'Description', title: '@Strings.Discription', width: "45%" },
                     { data: 'PreviousAmount', visible: false },
                     { data: 'NewAmount', visible: false },
                     { data: 'Payment', visible: false },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $("td:nth-child(1)", nRow).html(iDisplayIndex + 1);
                return nRow;
            },

            "footerCallback": function (row, data, start, end, display) {

                var api = this.api(), data;
                var totalQTY = 0;
                var preBalance = 0;
                var NewAmount = 0;
                var Payments = 0;
                for (var i = 0; i < data.length; i++) {
                    totalQTY += parseInt(data[i].CurrentAmount);
                    preBalance += parseInt(data[i].PreviousAmount);
                    NewAmount += parseInt(data[i].NewAmount);
                    Payments += parseInt(data[i].Payment);
                }

                $("#CurBalance").val(totalQTY.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                $("#PreBalance").val(preBalance.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                $("#NewCustody").val(NewAmount.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                $("#Payments").val(Payments.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));


            }

        });



    }
    function searchBtn() {
        $('#dtCustody').DataTable().ajax.reload();

    }

     function PrintReport()
     {

         var Url = '/CustodyFollowUp/CustodyFollowUpReport?FromDate=' + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val();
         window.open(Url , '_blank');
    }
    function DownloadExcel() {

        $.ajax({

            type: "POST",
            url: "/CustodyFollowUp/ExcelExport",
            cache: false,
            data: {
                fromDate: $("#FromDate").val(),
                toDate: $("#ToDate").val(),
                CurBalance: $("#CurBalance").val(),
                preBalance: $("#PreBalance").val(),
                Payments: $("#Payments").val(),
                NewCustody: $("#NewCustody").val()


            },

            success: function (data) {
                window.location = '/CustodyFollowUp/Download';
            },
            error: function (data) {
                Materialize.toast("Something went wrong. ", 3000, 'rounded');
            }
        });
    }


</script>








