﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.Unit>
@{
    ViewBag.Title = "Item Units";
    Layout = "~/Views/Shared/_Layout.cshtml";
        bool CreateBtn = false;
        bool EditBtn = false;
        bool DeleteBtn = false;
        bool PrintBtn = false;
    }

    @if (SiteInfo.IsLogged)
    {
        BasicCRUDController bc = new BasicCRUDController();
        CreateBtn = bc.GetUserTicketView("/unit/save");
        EditBtn = bc.GetUserTicketView("/unit/EditUnit");
        DeleteBtn = bc.GetUserTicketView("/unit/DeleteUnit");
        PrintBtn = bc.GetUserTicketView("/unit/UnitReport");
    }


<div class="container">

    <a href="javascript:void(0);">
        @Strings.inventory >  @Strings.units
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button onclick="showAEpopup()" class="btn btn-primary">@Strings.CreateUnit</button> }
            @if (PrintBtn)
            { <a type="button" target="_blank" class="btn btn-primary" href=' @Url.Action("UnitReport","Unit")' ;">@Strings.PrintReport</a>}
            
        </div>
    </p>
    <center>
        <table id="dtunit" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </center>
</div>

<input type="hidden" id="UnitNo" />

<div class="modal fade" id="confirmUnitDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.Deleteunit</h3>
            </div>
            <div class="modal-body">

                <h4>@Html.Label("0", new { id = "confirmPopupBody" }) </h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                        <a onclick="hidepopup()">@Strings.Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mdlAddUnit">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="popupAddUnitTitle"></h3>
                @Html.Hidden("UnitId")
            </div>
            <div class="modal-body">
                <table style="margin-bottom:0px">
                    <tr>
                        <td width="10%">
                            @Html.Label(@Strings.Name)
                            @Html.TextBox("UnitName", "", new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            @Html.Label(@Strings.Notes)
                            @Html.TextArea("UnitNote", "", 5, 5, new { @class = "form-control" })
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="Save()">@Strings.Save</button>
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="saveandnew()">@Strings.SaveAndNew</button>

                        <a onclick="hideAEpopup()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dtunit')) {
            $('#dtunit').DataTable({
                ajax: {
                    url: "/Unit/GetUnits",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'UnitName', title: '@Strings.UnitName', width: "25%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "66%" },
                    {
                        data: 'UnitNo',
                        orderable: false,
                        visible: true, width: "9%",
                        render: function (UnitNo, type, row, meta) {
                            return '@if (EditBtn) {<a href="javascript:void(0)" onclick="EditUnit(' + UnitNo + ')" ><i class="glyphicon glyphicon-pencil" style"float:center" ></i></a > } '+
                                '@if(DeleteBtn){<a href="javascript:void(0)" onclick="showdeletepopup(' + UnitNo + ')" class="btn"><i class="glyphicon glyphicon-trash" style"float:center" ></i></a >}'
                        }

                    },

                ],

            });

        } else {
            $('#dtunit').DataTable().ajax.reload();
        }
    });
    function showdeletepopup(UnitNo) {
        $('#UnitNo').val(UnitNo);
        $('#confirmPopupBody').text('@Strings.deleteconfirmunit' + UnitNo + " ?");
        $("#confirmUnitDelete").modal('show');
    }
    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/Unit/DeleteUnit",
            method: "Post",
            data: {
                UnitNo: $('#UnitNo').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmUnitDelete').modal('hide');
                $('#Unitno').val('');
                $('#dtunit').DataTable().ajax.reload();

            },
            error: function () {

            },
        });
    }
    function hidepopup() {
        $('#confirmUnitDelete').modal('hide');
        $('#UnitNo').val('');
    }
    function showAEpopup() {
        clearData();
        $('#popupAddUnitTitle').text("@Strings.AddUnit");
        debugger
        $("#mdlAddUnit").modal('show');
    }
    function hideAEpopup() {
        $('#mdlAddUnit').modal('hide');
    }
    function clearData() {
        $('#UnitId').val(0);
        $('#UnitName').val('');
        $('#UnitNote').val('');
    }
    function EditUnit(UnitNo) {
        $.ajax({
            url: "/Unit/EditUnit",
            method: "GET",
            data: {
                unitId: UnitNo
            },
            success: function (result) {
                debugger
                $("#mdlAddUnit").modal('show');
                $('#popupAddUnitTitle').text("@Strings.EditUnit");


                $('#UnitId').val(UnitNo);
                $('#UnitName').val(result.data.Name);
                $('#UnitNote').val(result.data.Notes);

            },
            error: function (result) {

            }
        });
    }
    function Save() {
        $.ajax({
            url: "/Unit/Save",
            method: "Post",
            data: {
                UnitId: $('#UnitId').val(),
                Name: $("#UnitName").val(),
                Notes: $('#UnitNote').val(),

            },
            beforeSend: function (result) {
            },
            success: function (result) {
                hideAEpopup();
                $('#dtunit').DataTable().ajax.reload();
            },
            error: function () {

            },
        });
    }

    function saveandnew() {
        $.ajax({
            url: "/Unit/Save",
            method: "Post",
            data: {
                Name: $("#UnitName").val(),
                Notes: $('#UnitNote').val(),

            },
            beforeSend: function (result) {

            },
            success: function (result) {
                $('#dtunit').DataTable().ajax.reload();
                clearData();


            },
            error: function () {

            },
        });
    }
</script>
