﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@model IEnumerable<Agi.DonerKonner.DataAccess.Admin.Branch>

@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Branches/Save");
    EditBtn = bc.GetUserTicketView("/Branches/EditBranch");
    DeleteBtn = bc.GetUserTicketView("/Branches/DeleteBranch");
    PrintBtn = bc.GetUserTicketView("/Branches/BranchReport");
}


<div class="container">
    <a href="javascript:void(0);">
        @Strings.administration >  @Strings.Branches
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button onclick="showAEpopup()" class="btn btn-primary">@Strings.CreateBranch</button>}
            @if (PrintBtn)
            {<a type="button" target="_blank" class="btn btn-primary" href=' @Url.Action("BranchReport","Branches")' ;">@Strings.PrintReport</a>}

        </div>
    </p>
    <center>
        <table id="dtbranch" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
</div>

<input type="hidden" id="BranchNo" />

<div class="modal fade" id="confirmBranchDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.DeleteBranch</h3>
            </div>
            <div class="modal-body">

                <h4>@Html.Label("0", new { id = "confirmPopupBody" }) </h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                        <a onclick="hidepopup()">@Strings.Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mdlAddUBranch">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="popupAddBranchTitle"></h3>
                @Html.Hidden("BranchId")
            </div>
            <div class="modal-body">
                <table style="margin-bottom:0px">
                    <tr>
                        <td width="10%">
                            @Html.Label(@Strings.Name)
                            @Html.TextBox("BranchName", "", new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            @Html.Label(@Strings.Notes)
                            @Html.TextArea("BranchNote", "", 5, 5, new { @class = "form-control" })
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="Save()">@Strings.Save</button>
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="saveandnew()">@Strings.SaveAndNew</button>

                        <a onclick="hideAEpopup()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        debugger
       
        if (!$.fn.DataTable.isDataTable('#dtbranch')) {
            $('#dtbranch').DataTable({
                ajax: {
                    url: "/Branches/GetBranches",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'BranchName', title: '@Strings.BranchName', width: "25%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "66%" },
                    {
                        data: 'BranchNo',
                        orderable: false,
                        visible: true, width: "9%",
                        render: function (BranchNo, type, row, meta) {
                            return '@if(EditBtn){<a href="javascript:void(0)" onclick="EditBranch(' + BranchNo + ')" ><i class="glyphicon glyphicon-pencil"></i></a >}'+
                                '@if(DeleteBtn){<a href="javascript:void(0)" onclick="showdeletepopup(' + BranchNo + ')" class="btn"><i class="glyphicon glyphicon-trash"></i></a >}'
                        
                        }

                    },
                ],

            });

        } else {
            $('#dtbranch').DataTable().ajax.reload();
        }
    });
     function showdeletepopup(BranchNo) {
        $('#BranchNo').val(BranchNo);
        $('#confirmPopupBody').text('@Strings.deleteconfirmunit' + BranchNo + " ?");
        $("#confirmBranchDelete").modal('show');
    }
    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/Branches/DeleteBranch",
            method: "Post",
            data: {
                BranchNo: $('#BranchNo').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmBranchDelete').modal('hide');
                $('#BranchNo').val('');
                $('#dtbranch').DataTable().ajax.reload();

            },
            error: function () {

            },
        });
    }
    function hidepopup() {
        $('#confirmBranchDelete').modal('hide');
        $('#BranchNo').val('');
    }
    function showAEpopup() {
        clearData();
        $('#popupAddBranchTitle').text("@Strings.AddBranch");
        debugger
        $("#mdlAddUBranch").modal('show');
    }
    function hideAEpopup() {
        $('#mdlAddUBranch').modal('hide');
    }
    function clearData() {
        $('#BranchId').val(0);
        $('#BranchName').val('');
        $('#BranchNote').val('');
    }
    function EditBranch(BranchNo) {
        $.ajax({
            url: "/Branches/EditBranch",
            method: "GET",
            data: {
                branchId: BranchNo
            },
            success: function (result) {
                debugger
                $("#mdlAddUBranch").modal('show');
                $('#popupAddBranchTitle').text("@Strings.EditBranch");

                $('#BranchId').val(BranchNo);
                $('#BranchName').val(result.data.Name);
                $('#BranchNote').val(result.data.Notes);

            },
            error: function (result) {

            }
        });
    }
    function Save() {
        $.ajax({
            url: "/Branches/Save",
            method: "Post",
            data: {
                BranchId: $('#BranchId').val(),
                Name: $("#BranchName").val(),
                Notes: $('#BranchNote').val(),

            },
            beforeSend: function (result) {
            },
            success: function (result) {
                hideAEpopup();
                $('#dtbranch').DataTable().ajax.reload();
            },
            error: function () {

            },
        });
    }

    function saveandnew() {
        $.ajax({
            url: "/Branches/Save",
            method: "Post",
            data: {
                Name: $("#BranchName").val(),
                Notes: $('#BranchNote').val(),

            },
            beforeSend: function (result) {

            },
            success: function (result) {
                $('#dtbranch').DataTable().ajax.reload();
                clearData();


            },
            error: function () {

            },
        });
    }


</script>