﻿@using Agi.DonerKonner.Globalization
@model Agi.DonerKonner.DataAccess.ViewModel.login
@{
    ViewBag.Title = "changesecurityrole";
}



<div class="modal-header">
    <h3 class="modal-title">@Strings.Change @Strings.SecurityRoles </h3>
</div>
<div class="modal-body ">
    <table width="100%" style="margin-bottom:0">
        <tr>
            <td>
                @Html.Label(Strings.SecurityRoles)
            </td>
            <td>
                @Html.DropDownList("SecurityRoleId", null, Strings.Select + " " + Strings.SecurityRoles, new { htmlAttributes = new { @class = "form-control", @style = "font-size: initial" } })
            </td>
        </tr>
    </table>

    

</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="submit" class="btn btn-primary col-md" value='@Strings.Change @Strings.SecurityRoles' onclick="changesecurityrole()" />
            <a onclick="hidepopup()" class="col-md">@Strings.Cancel</a>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

    });

    function hidepopup() {
        $('#changesecurityrole').modal('hide');
    }

    function changesecurityrole() {
        debugger
        $.ajax({
            url: "/Home/ChangeSecurityRoleAction",
            data: {
                SecurityRoleId: $("#SecurityRoleId").val()
            },
            method: "get",
            success: function (result) {
                debugger
                $('#changesecurityrole').modal('hide');
                location.reload(true);

            },
            error: function (result) {

            }
        });
    }
</script>
