﻿@using Agi.DonerKonner.Globalization
@model Agi.DonerKonner.DataAccess.ViewModel.login
@{
    ViewBag.Title = "changebranch";
}



<div class="modal-header">
    <h3 class="modal-title">@Strings.Change @Strings.Branch </h3>
</div>
<div class="modal-body ">
    <table width="100%" style="margin-bottom:0">
        <tr>
            <td>
                @Html.Label(Strings.Branches)
            </td>
            <td>
                @Html.DropDownList("BranchID", null, Strings.Select+" "+Strings.Branch, new { htmlAttributes = new { @class = "form-control", @style = "font-size: initial" } })
            </td>
        </tr>
    </table>

    @*@Html.DropDownList("Branches", null, "Select Branch")*@
    @*@Html.DropDownList("Branches", new SelectList(Model.Branches, "ID", "Name", null), "Select Branch", new { htmlAttributes = new { @class = "form-control", @style = "font-size: initial" } })*@

</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="submit" class="btn btn-primary col-md" value='@Strings.Change @Strings.Branch' onclick="changeBranch()" />
            <a onclick="hidepopup()" class="col-md">@Strings.Cancel</a>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        //$("#myModal").modal('show');
    });

    function hidepopup() {
        $('#changebranch').modal('hide');
    }

    function changeBranch() {
        debugger
        $.ajax({
            url: "/Home/ChangeBranchAction",
            data: {
                BranchID: $("#BranchID").val()
            },
            method: "get",
            success: function (result) {
                debugger
                $('#changebranch').modal('hide');
                location.reload(true);
                //window.location.href = "/Home/index"
            },
            error: function (result) {

            }
        });
    }
</script>