﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;
<!DOCTYPE html>
<html lang="en">
@{
    bool AdminView = false;
    bool SecurityRolesView = false;
    bool UsersView = false;
    bool BranchesView = false;
    bool vendorsView = false;

    bool CustodyView = false;
    bool CustodyitemView = false;
    bool DeliveryView = false;
    bool PaymentView = false;
    bool CustodyFollowUpView = false;
    bool ItemCardView = false;


    bool InventoryView = false;

    bool MasterTableView = false;
    bool WarehouseView = false;
    bool UnitView = false;
    bool itemGroupView = false;
    bool ItemsView = false;

    bool TransactionView = false;
    bool OpeningBalanceView = false;
    bool GoodRecieiptsView = false;
    bool AdjustmentView = false;
    bool PhysicalCountView = false;

    bool ReportsView = false;
    bool CountView = false;
    bool ValueView = false;
    bool CycleView = false;
    bool CostView = false;

    if (SiteInfo.IsLogged)
    {
        BasicCRUDController bc = new BasicCRUDController();
        AdminView = bc.GetUserTicketView("/home/Admin");
        SecurityRolesView = bc.GetUserTicketView("/SecurityRoles/index");
        UsersView = bc.GetUserTicketView("/Users/index");
        BranchesView = bc.GetUserTicketView("/Branches/index");
        vendorsView = bc.GetUserTicketView("/Vendor/index");


        CustodyView = bc.GetUserTicketView("/home/Custody");
        CustodyitemView = bc.GetUserTicketView("/CustodyItem/index");
        DeliveryView = bc.GetUserTicketView("/Delivery/index");
        PaymentView = bc.GetUserTicketView("/Payment/index");
        CustodyFollowUpView = bc.GetUserTicketView("/CustodyFollowUp/index");
        ItemCardView = bc.GetUserTicketView("/ItemCard/index");


        InventoryView = bc.GetUserTicketView("/home/Inventory");

        MasterTableView = bc.GetUserTicketView("/home/master");
        WarehouseView = bc.GetUserTicketView("/warehouse/index");
        UnitView = bc.GetUserTicketView("/Unit/index");
        itemGroupView = bc.GetUserTicketView("/itemGroup/index");
        ItemsView = bc.GetUserTicketView("/items/index");

        TransactionView = bc.GetUserTicketView("/home/trans");
        OpeningBalanceView = bc.GetUserTicketView("/Transactions/Transactions");
        GoodRecieiptsView = bc.GetUserTicketView("/InvReceipts/index");
        AdjustmentView = bc.GetUserTicketView("/Adjustment/index");
        PhysicalCountView = bc.GetUserTicketView("/PhysicalCount/index");

        ReportsView = bc.GetUserTicketView("/home/reports");
        CountView = bc.GetUserTicketView("/InventoryCount/index?flag=false");
        ValueView = bc.GetUserTicketView("/InventoryCount/index?flag=true");
        CycleView = bc.GetUserTicketView("/InventoryCycle/index");
        CostView = bc.GetUserTicketView("/Cost/index");

    }


}
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="~/Images/AGI.png" />
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <link href="~/Content/css.css" rel="stylesheet" />
    <!-- CORE CSS -->
    <script src="../../assets/plugins/jquery/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="../../demo_files/styleswitcher/styleswitcher.css" rel="stylesheet" />
    <!-- THEME CSS -->
    <link href="../../assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/layout.css" rel="stylesheet" type="text/css" />
    <!-- PAGE LEVEL SCRIPTS -->
    <link href="../../assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <style>
        .arrow {
            border: solid;
            color: #8AB933;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2.5px;
            height: 1px;
            width: 1px;
            position:absolute;
            margin-right:10px;
            margin-top:8px;
        }

        .right {
            right:1px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .dropbtn {
            color: #8AB933;
            padding: 10px;
            font-size: 22px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }


        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                position: relative;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }


        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content .submenu1 {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left: 100%;
            margin-top: -25%;
        }

        .dropdown .dropdown-content .dropdown1:hover .submenu1 {
            display: block;
        }

        .dropdown-content .submenu2 {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left: 100%;
            margin-top: -25%;
        }

        .dropdown .dropdown-content .dropdown2:hover .submenu2 {
            display: block;
        }

        .dropdown-content .submenu3 {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left: 100%;
            margin-top: -25%;
        }

        .dropdown .dropdown-content .dropdown3:hover .submenu3 {
            display: block;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</head>

<body class="smoothscroll enable-animation">

    <div>
        <a class="slidetop-toggle" href="#"></a>

        <div id="header" class="navbar-toggleable-md sticky clearfix">

            <!-- TOP NAV -->
            <header id="topNav">
                <div>
                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- BUTTONS -->
                    <ul class="top-links list-inline float-right" style="margin-bottom:0px;height:20px">
                        <li class="text-welcome">
                            @if (SiteInfo.IsLogged)
                            {
                            <li style=" margin: 25px 0px 0px 0px; ">
                                <div style="float:left">Welcome, <strong>@SiteInfo.LoggedUserName </strong></div>
                                <div style="float:right;margin-left:10px">
                                    @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm" }))
                                    {

                                        @Html.AntiForgeryToken()

                                        <a href="javascript:document.getElementById('logoutForm').submit()">

                                            <span class="glyphicon" style="font-size:25px"> &#xe163;</span>
                                        </a>
                                    }
                                </div>


                            </li>

                        }

                        </ul>
                        <!-- /BUTTONS -->
                        <!-- Logo -->
                        <a href="/home/Index">
                            <img src="../../assets/images/_smarty/1.jpg" alt="" height="55" width="100" />
                        </a>
                        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                            <nav class="nav-main">

                            </nav>
                        </div>

                    </div>
                </header>
                <!-- /Top Nav -->
                @if (SiteInfo.IsLogged)
                {
                    <section class="page-header dark page-header-xs" style="height:60px; ">
                        <div style="padding:0px 100px 0px 100px">
                            <div class="dropdown">
                                @if (AdminView)
                                {
                                    <button class="dropbtn">@Strings.administration</button>

                                    <div class="dropdown-content">
                                        @if (SecurityRolesView)
                                        {<a href="/SecurityRoles/index">@Strings.SecurityRoles</a>}
                                        @if (UsersView)
                                        {<a href="/Users/index">@Strings.users</a>}
                                        @if (BranchesView)
                                        {<a href="/Branches/index">@Strings.Branches</a>}
                                        @if (vendorsView)
                                        {<a href="/Vendor/index">@Strings.vendors</a>}
                                    </div>
                                }
                            </div>
                            <div class="dropdown">
                                @if (CustodyView)
                                {
                                    <button class="dropbtn">@Strings.Custody</button>
                                    <div class="dropdown-content">
                                        @if (CustodyitemView)
                                        {<a href="/CustodyItem/index">@Strings.Custodyitem</a>}
                                        @if (DeliveryView)
                                        {<a href="/Delivery/index">@Strings.Delivery</a>}
                                        @if (PaymentView)
                                        {<a href="/Payment/index">@Strings.Payment</a>}
                                        <div class="divider" style="min-height:1px; background-color:#8AB933; margin-bottom:0px; margin-top:0px; margin-left:5px; margin-right:5px;"></div>
                                        @if (CustodyFollowUpView)
                                        {<a href="/CustodyFollowUp/index">@Strings.CustodyFollowUp</a>}
                                        @if (ItemCardView)
                                        {<a href="/ItemCard/index">@Strings.ItemCard</a>}

                                    </div>
                                }
                            </div>
                            <div class="dropdown">
                                @if (InventoryView)
                                {
                                    <button class="dropbtn">@Strings.inventory</button>
                                    <div class="dropdown-content">
                                        @if (MasterTableView)
                                        {
                                            <div class="dropdown1">
                                                <a href="javascript:void(0)" class="dropdown">@Strings.MasterTables <i class="arrow right"></i></a>
                                                <div class="submenu submenu1">
                                                    @if (WarehouseView)
                                                    {<a href="/warehouse/index">@Strings.Warehouse</a>}
                                                    @if (UnitView)
                                                    {<a href="/Unit/index">@Strings.itemunit</a>}
                                                    @if (itemGroupView)
                                                    {<a href="/itemGroup/index">@Strings.itemGroup</a>}
                                                    @if (ItemsView)
                                                    {<a href="/items/index">@Strings.items</a>}
                                                </div>
                                            </div>
                                        }
                                        @if (TransactionView)
                                        {
                                            <div class="dropdown2">
                                                <a href="javascript:void(0)" class="dropdown">@Strings.Transaction <i class="arrow right"></i></a>
                                                <div class="submenu submenu2">
                                                    @if (OpeningBalanceView)
                                                    {<a href="/Transactions/Transactions">@Strings.openingbalance</a>}
                                                    @if (GoodRecieiptsView)
                                                    {<a href="/InvReceipts/index">@Strings.goodrecieipts</a>}
                                                    @if (AdjustmentView)
                                                    {<a href="/Adjustment/index">@Strings.Adjustment</a>}
                                                    @if (PhysicalCountView)
                                                    {<a href="/PhysicalCount/index">@Strings.PhysicalCount</a>}
                                                </div>
                                            </div>
                                        }
                                        @if (ReportsView)
                                        {
                                            <div class="dropdown3">
                                                <a href="javascript:void(0)" class="dropdown">@Strings.Reports <i class="arrow right"></i></a>
                                                <div class="submenu submenu3">
                                                    @if (CountView)
                                                    {<a href="/InventoryCount/index?flag=false">@Strings.InventoryCount</a>}
                                                    @if (ValueView)
                                                    {<a href="/InventoryCount/index?flag=true">@Strings.inventoryvalue</a>}
                                                    @if (CycleView)
                                                    {<a href="/InventoryCycle/index">@Strings.InventoryCycle</a>}
                                                    @if (CostView)
                                                    {<a href="/Cost/index">@Strings.CostReport</a>}
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>

                            <div class="top-links list-inline float-right">
                                <div class="dropdown">
                                    <div class="dropbtn" style="float:right">
                                        <a onclick="changeBranches()" href="javascript:void(0);">@SiteInfo.LoggedBranchName</a>
                                    </div>
                                    <div class="dropbtn" style="float:right">
                                        <a onclick="changeSecurityRoles()" href="javascript:void(0);">@SiteInfo.LoggedSecurityRoleName</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            </div>


            @RenderBody()

            <!-- FOOTER -->
            <footer id="footer" style="height: 60px; position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;">


                <div class="copyright ">
                    <div class="container">

                        Advanced Group for Information Technology © 2021
                    </div>
                </div>

            </footer>
            <!-- /FOOTER -->

        </div>
        <!-- /wrapper -->
        <!-- SCROLL TO TOP -->
        <a href="#" id="toTop"></a>


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="inner">
                <span class="loader"></span>
            </div>
        </div><!-- /PRELOADER -->
        <!-- JAVASCRIPT FILES -->
        <script>var plugin_path = '../../assets/plugins/';</script>

        <script src="../../assets/js/scripts.js"></script>
        <script src="~/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="~/assets/js/view/demo.revolution_slider.js"></script>

        <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.min.css">
        <script src="~/Scripts/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Scripts/select2.min.js"></script>

        <div class="modal fade" id="changebranch">
            <div class="modal-dialog modal-dialog-centered" style="width:20%"  role="document">
                <div class="modal-content" id="changeBranchContiner">

                </div>
            </div>
        </div>
        <div class="modal fade" id="changesecurityrole">
            <div class="modal-dialog modal-dialog-centered" style="width:25%" role="document">
                <div class="modal-content" id="changeSecurityRoleContiner">

                </div>
            </div>
        </div>
        <script>
            //$(function () {
            //    $('.datepicker').datepicker({
            //        dateFormat: 'dd/MM/yyyy',
            //        minDate: '01/01/2000',
            //        maxDate: '30/01/2021'
            //    });
            //})
            function changeBranches() {

                $.ajax({
                    url: "/Home/changebranch",
                    method: "GET",
                    success: function (result) {

                        $('#changeBranchContiner').html(result)
                        $('#changebranch').modal('show');
                    },
                    error: function (result) {

                    },
                });
            }
            function changeSecurityRoles() {

                $.ajax({
                    url: "/Home/changesecurityrole",
                    method: "GET",
                    success: function (result) {

                        $('#changeSecurityRoleContiner').html(result)
                        $('#changesecurityrole').modal('show');
                    },
                    error: function (result) {

                    },
                });
            }

        </script>
    </body>
</html>
