﻿@using Agi.DonerKonner.Globalization;
@model Agi.DonerKonner.DataAccess.ViewModel.UserViewModel
@{
    string OP = ViewBag.IsAdd;
}
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-weight: bold;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #8ab933;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #8ab933;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

@using (Ajax.BeginForm(OP, "Users", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
<div class="modal-body">

    @Html.HiddenFor(m => m.user.ID)
    <div class="row">
        <div class="col-lg-2" style="padding-right:0px; margin-right:0px; margin-top:10px">
            @Html.Label(Strings.FullName)
        </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.user.FullName, new { @class = "form-control" })
            <span class="text-danger" id="FullNameVal"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" style="margin-right:0px; margin-top:10px">
            @Html.Label(Strings.LoginName)
        </div>
        <div class="col-lg-6">
            @Html.TextBoxFor(m => m.user.LoginName, null, new { @class = "form-control" })
            <span class="text-danger" id="LoginNameVal"></span>
        </div>
        <div class="col-lg-1" style=" margin-top:10px">
            @Html.CheckBoxFor(m => m.user.IsActive, new { @checked = true })
        </div>
        <div class="col-lg-2" style="padding-left:0px; margin-left:0px; margin-top:10px">
            @Html.Label(Strings.ISActive)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" style=" margin-right:0px; margin-top:10px; margin-left:0px">
            @Html.Label(Strings.Password)
        </div>
        <div class="col-lg-4" style="padding-right:0px; margin-right:0px">
            @Html.PasswordFor(m => m.user.Password, new { @class = "form-control", placeholder = "Password" })
            <span class="text-danger" id="ConfirmPassVal"></span>
        </div>
        <div class="col-lg-2" style=" margin-right:0px; margin-top:10px">
            @Html.Label(Strings.Confirm)
        </div>
        <div class="col-lg-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            <span class="text-danger" id="ConfirmPassVal"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" style="padding-right:0px; margin-right:0px; margin-top:10px">
            @Html.Label(Strings.Notes)
        </div>
        <div class="col-lg-10">
            @Html.TextAreaFor(m => m.user.Notes, 5, 5, new { @class = "form-control" })
        </div>
    </div>

    <br />
    <span class="text-danger" id="FormVal"></span>
    <span class="text-danger" id="SecurityroleMsg"></span>
    <span class="text-danger" id="BranchMsg"></span>
    <div class="tab">
        <button type="button" class="tablinks" onclick="changeTab(event, 'SecutiryRole')">@Strings.SecurityRoles</button>
        <button type="button" class="tablinks" onclick="changeTab(event, 'Branches')">@Strings.Branches</button>
    </div>
    <div id="SecutiryRole" class="tabcontent">
        <table style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>@Strings.SecurityRoles</th>
                    <th>@Strings.IsDefault</th>
                    <th>@Strings.ISActive</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.UserSecurityRolesVM.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.UserSecurityRolesVM[i].SecurityRoleID)
                            @Html.CheckBoxFor(m => m.UserSecurityRolesVM[i].IsChecked)
                        </td>
                        <td>@Html.DisplayFor(m => m.UserSecurityRolesVM[i].Name)</td>
                        <td>@Html.CheckBoxFor(m => m.UserSecurityRolesVM[i].IsDefault, new { @class = "securityrolechk", @OnChange= "Defaultfun("+i+")", @id= "securityrolechk"+i })</td>
                        <td>@Html.CheckBoxFor(m => m.UserSecurityRolesVM[i].IsActive)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="Branches" class="tabcontent">
        <table style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>@Strings.Branches</th>
                    <th>@Strings.IsDefault</th>
                    <th>@Strings.ISActive</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.UserBranchsVM.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.UserBranchsVM[i].BranchID)
                            @Html.CheckBoxFor(m => m.UserBranchsVM[i].IsChecked)
                        </td>
                        <td>@Html.DisplayFor(m => m.UserBranchsVM[i].Name)</td>
                        <td>@Html.CheckBoxFor(m => m.UserBranchsVM[i].IsDefault, new { @class = "brachchk", @OnChange = "DefaultBfun(" + i + ")", @id = "brachchk" + i })</td>
                        <td>@Html.CheckBoxFor(m => m.UserBranchsVM[i].IsActive)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@Strings.Save</button>
                <a onclick="hideAddUserpopup()">@Strings.Cancel</a>
            </div>
        </div>
    </div>

}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        changeTab(event, 'SecutiryRole');
    });
    function changeTab(evt, tabName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    function Defaultfun(i) {
        debugger
        $('.securityrolechk').prop('checked', false);
        var id = "#securityrolechk" + i;
        $(id).prop('checked', true);
    }
    function DefaultBfun(i) {
        debugger
        $('.brachchk').prop('checked', false);
        var id = "#brachchk" + i;
        $(id).prop('checked', true);
    }
</script>
