﻿@using Agi.DonerKonner.Globalization;
@model Agi.DonerKonner.DataAccess.Admin.User

<div class="modal-body">
    @Html.HiddenFor(m => m.ID)
    <h5>@Html.Label("Are You Sure You Want To Delete " + Model.FullName + " User") </h5>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-danger" onclick="DeleteUser('@Model.ID')">@Strings.Delete</button>
            <a onclick="hidedelpopup()">@Strings.Cancel</a>
        </div>
    </div>
</div>
