﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@{
    ViewBag.Title = Strings.users;
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
}
<style>
    .loader {
        position: absolute;
        width: 100%;
        text-align:center;
    }
</style>
@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Users/AddUser");
    EditBtn = bc.GetUserTicketView("/Users/EditUser");
    DeleteBtn = bc.GetUserTicketView("/Users/DeleteUser");
}
<div class="loader">
    <img src="~/Images/loading.gif" id="loading-image" />
</div>
<div class="modal" tabindex="-1" role="dialog" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="PopupContainer">

        </div>
    </div>
</div>

<div class="container">
    <a href="javascript:void(0);">
        @Strings.administration >  @Strings.users
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button type="button" class=" btn btn-primary" onclick="AddUser()" ;">@Strings.AddUser</button>}

        </div>
    </p>
    <center>
        <table id="dtUsers" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
</div>
<script type="text/javascript">
            $(document).ready(function () {
                $('#loading-image').hide();
                if (!$.fn.DataTable.isDataTable('#dtUsers')) {
                $('#dtUsers').DataTable(
                    {
                        ajax: {
                            url: "/Users/UsersList",
                            type: "GET",
                            dataType: "Json"
                        },
                        columns: [
                            { data: 'FullName', title:'@Strings.FullName', width: "45%" },
                            { data: 'LoginName', title: '@Strings.LoginName', width: "31%" },
                            { data: 'IsActive', title: '@Strings.ISActive', width: "16%" },
                            {
                                data: 'ID',
                                orderable: false,
                                visible: true, width: "8%",
                                render: function (ID, type, row, meta) {
                                    return '@if(EditBtn){<a href="javascript:void(0)" onclick="EditUser(' + ID + ')" ><i class="glyphicon glyphicon-pencil" ></i></a >}' +
                                        '@if(DeleteBtn){<a href="javascript:void(0)" onclick="DeletePopup(' + ID + ')" class="btn"><i class="glyphicon glyphicon-trash"></i></a >}'
                                }
                            }

                        ],
                    });
            } else {
                    $('#dtUsers').DataTable().ajax.reload();
            }
            });

    function AddUser() {
        $('#loading-image').show();
        $.ajax({
            url: "/Users/AddUser",
            type: "Get",
            success: function (response) {
                $("#PopupContainer").html(response.page);
                $("#Modal").modal('show');
            },complete: function () {
                $('#loading-image').hide();
            }
        })
    }
    function EditUser(ID) {
        $('#loading-image').show();
        $.ajax({
            url: "/Users/EditUser",
            type: "Get",
            data: { ID: ID },
            success: function (response) {
                $("#PopupContainer").html(response.page);
                $("#Modal").modal('show');
            }, complete: function () {
                $('#loading-image').hide();
            }
        })
    }
    function hideAddUserpopup() {
    $('#Modal').modal('hide');
    }
    function DeletePopup(ID) {
        $('#loading-image').show();
        $.ajax({
            url: "/Users/DeletePopup",
            type: "Get",
            data: { ID: ID },
            success: function (response) {
                $("#PopupContainer").html(response.page);
                $("#Modal").modal('show');
            }, complete: function () {
                $('#loading-image').hide();
            }
        })
    }
    function hidedelpopup() {
        $('#Modal').modal('hide');
    }
    function DeleteUser(ID) {
        $.ajax({
            url: "/Users/DeleteUser",
            type: "Post",
            data: { ID: ID },
            success: function () {
                $("#Modal").modal('hide');
                $('#dtUsers').DataTable().ajax.reload();
            }
        })
    }
    function OnSuccess(data) {
        debugger
        if (!data.isValid) {
            if (data.flag == 1) {
                $('#LoginNameVal').text(data.msg1);
                $('#ConfirmPassVal').text("");
                $('#SecurityroleMsg').text("");
                $('#BranchMsg').text("");
                $('#FullNameVal').text("");
            }
            if (data.flag == 2) {
                $('#LoginNameVal').text("");
                $('#ConfirmPassVal').text(data.msg2);
                $('#SecurityroleMsg').text("");
                $('#BranchMsg').text("");
                $('#FullNameVal').text("");
            }
            if (data.flag == 3) {
                $('#LoginNameVal').text("");
                $('#ConfirmPassVal').text("");
                $('#SecurityroleMsg').text(data.msg3);
                $('#BranchMsg').text("");
                $('#FullNameVal').text("");
            }
            if (data.flag == 4) {
                $('#LoginNameVal').text("");
                $('#ConfirmPassVal').text("");
                $('#SecurityroleMsg').text("");
                $('#BranchMsg').text(data.msg4);
                $('#FullNameVal').text("");
            }
            if (data.flag == 5) {
                $('#LoginNameVal').text("");
                $('#ConfirmPassVal').text("");
                $('#SecurityroleMsg').text("");
                $('#BranchMsg').text("");
                $('#FullNameVal').text(data.msg5);
            }
            if (data.flag == 6 ) {
                $('#LoginNameVal').text("");
                $('#ConfirmPassVal').text("");
                $('#SecurityroleMsg').text("");
                $('#BranchMsg').text("");
                $('#FullNameVal').text("");
                $('#FormVal').text(data.formmsg);
            }
        } else {
            $('#Modal').modal('hide');
            $('#dtUsers').DataTable().ajax.reload();
        }

    }
    function OnFailure(data) {
        debugger
        $('#LoginNameVal').text("");
        $('#ConfirmPassVal').text("");
        $('#SecurityroleMsg').text("");
        $('#BranchMsg').text("");
        $('#FullNameVal').text("");
        $('#FormVal').text(data.formmsg);
    }
</script>

