﻿@model Agi.DonerKonner.DataAccess.ViewModel.login
@{
    ViewBag.Title = "changebranch";
}

<script>

    $(document).ready(function () {
        $("#myModal").modal('show');
    });
    function changeBranch() {
        debugger
        $.ajax({
            url: "/Home/ChangeBranchAction",
            data: {
                BranchID: $("#BranchID").val()
            },
            method: "get",
            success: function (result) {
                debugger
                $('#myModal').modal('hide');
                window.location.href = "/Home/index"
            },
            error: function (result) {

            }
        });
    }
</script>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Change Branche </h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body ">
                        <table width="100%" style="margin-bottom:0">
                            <tr>
                                <td>
                                    @Html.Label("Branches")
                                </td>
                                <td>
                                    @Html.DropDownList("BranchID", null, "Select Branch", new { htmlAttributes = new { @class = "form-control", @style = "font-size: initial" } })
                                </td>
                            </tr>
                        </table>
                        
                            @*@Html.DropDownList("Branches", null, "Select Branch")*@
                            @*@Html.DropDownList("Branches", new SelectList(Model.Branches, "ID", "Name", null), "Select Branch", new { htmlAttributes = new { @class = "form-control", @style = "font-size: initial" } })*@
                            
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" name="submit" class="btn btn-primary" value="Change Brache" onclick="changeBranch()"  />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
