﻿
@{
//ViewBag.Title = "Contact";
}

<div class="container">

    <div class="row">


        <h2>Gallery</h2>

        <section>
            <div class="container">
                <link href="../../assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
                <link href="../../assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

                <div id="portfolio" class="portfolio-nogutter">

                    <ul class="nav nav-pills mix-filter mb-60">
                        <li data-filter="all" class="filter active"><a href="#">All</a></li>
                        <li data-filter="development" class="filter"><a href="#">Development</a></li>
                        <li data-filter="photography" class="filter"><a href="#">Photography</a></li>
                        <li data-filter="design" class="filter"><a href="#">Design</a></li>
                    </ul>


                    <div class="row mix-grid">

                        <div class="col-md-3 col-sm-3 mix design">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/8-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <!-- carousel -->
                                    <div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
                                        <div>
                                            <img class="img-fluid" src="~/demo_files/images/mockups/600x399/8-min.jpg" width="600" height="399" alt="">
                                        </div>
                                        <div>
                                            <img class="img-fluid" src="~/demo_files/images/mockups/600x399/9-min.jpg" width="600" height="399" alt="">
                                        </div>
                                        <div>
                                            <img class="img-fluid" src="~/demo_files/images/mockups/600x399/10-min.jpg" width="600" height="399" alt="">
                                        </div>
                                    </div>
                                    <!-- /carousel -->


                                </figure>

                                <div class="item-box-desc">
                                    <h3>Street Photography</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix development">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/9-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/9-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Nature Photography</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix photography">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/10-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/10-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Fashion Design</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix design">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/11-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/11-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Ocean Project</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix design">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/12-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/12-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Architect Project</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Architecture</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix development">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/13-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/13-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Speaker Design</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Audio</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix photography">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/14-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/14-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Mobile Development</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Development</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix design">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/15-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/15-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Nature Art</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Nature</a></li>
                                        <li><a href="#">Art</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix design">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/16-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/16-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Nature Art</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Nature</a></li>
                                        <li><a href="#">Art</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix photography">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/1-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/1-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Mobile Development</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Development</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix design">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/2-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/2-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Nature Art</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Nature</a></li>
                                        <li><a href="#">Art</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                        <div class="col-md-3 col-sm-3 mix design">
                            <!-- item -->

                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">

                                            <!-- lightbox -->
                                            <a class="ico-rounded lightbox" href="~/demo_files/images/mockups/1200x800/3-min.jpg" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus fs-20"></span>
                                            </a>

                                            <!-- details -->
                                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                                <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                            </a>

                                        </span>
                                    </span>

                                    <img class="img-fluid" src="~/demo_files/images/mockups/600x399/3-min.jpg" width="600" height="399" alt="">
                                </figure>

                                <div class="item-box-desc">
                                    <h3>Nature Art</h3>
                                    <ul class="list-inline categories m-0">
                                        <li><a href="#">Nature</a></li>
                                        <li><a href="#">Art</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div><!-- /item -->


                    </div>

                </div>

            </div>
        </section>
        <!-- /Portfolio -->
    </div>
</div>

<script src="../../assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../../assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="../../assets/js/view/demo.revolution_slider.js"></script>
@*<script>window.$ = window.jQuery = require('./assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js');</script>
<script>window.$ = window.jQuery = require('./assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js');</script>
<script>window.$ = window.jQuery = require('./assets/js/view/demo.revolution_slider.js');</script>*@
