﻿@using Agi.DonerKonner.Globalization
@model Agi.DonerKonner.DataAccess.ViewModel.login

@{
    ViewBag.Title = "Login";
}

<style>
    .lwidth{
        width:80%
    }
</style>
<center>
    <section class="page-header">
        <div >

            <h1>@Strings.Login</h1>
        </div>
    </section>

    <div class="container" style="padding-left:25%;padding-right:25%">

        <!-- LOGIN -->

        @using (Html.BeginForm("login", "Home", FormMethod.Post))
        {@Html.AntiForgeryToken() HtmlHelper.UnobtrusiveJavaScriptEnabled = false; <div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        
    <!--<div class="form-group">-->
        @*@Html.Label(Strings.Branches,htmlAttributes: new { @class = "control-label col-md-2" })*@
        <!--<div class="col-md-10">-->
            @*@Html.DropDownList("Branches", null, "Select Branch")*@
            @*@Html.DropDownList("Branches", new SelectList(Model.Branches, "ID", "Name", null), "Select Branch", new { htmlAttributes = new { @class = "form-control", @style = "font-size: initial" } })*@
            @*@Html.DropDownList("BranchID",null,Strings.Select+" "+ Strings.Branch, new { @class = "form-control", @style = "font-size: initial;width:70%"  })*@
        <!--</div>
    </div>-->


    <div class="form-group">
        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @style = "font-size: initial;width:70%" } })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="font-size:initial">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control",type="password",@style= "font-size: initial;width:70%" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submit" class="btn btn-primary" value=@Strings.Login />
        </div>
    </div>
</div>

    }

    </div>
</center>
@*<script src="~/Scripts/jquery.validate.min.js"></script> , new { htmlAttributes = new { @class = "form-control" } }

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@





