﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;
@{
    ViewBag.Title = "InventoryCycle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var curDate = @ViewBag.DateTime.ToString("dd/MM/yyyy");

    bool ExcelBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    ExcelBtn = bc.GetUserTicketView("/InventoryCycle/InvCyclePrintReport");
    PrintBtn = bc.GetUserTicketView("/InventoryCycle/ExportToExcel");
}
}

<div class="container">
    <a href="javascript:void(0);">
        @Strings.inventory >  @Strings.InventoryCycle
    </a>
    <table width="50%" style="margin:0px;text-align:center">
        <tr>

            <td>

                <label style="margin: 20px">@Strings.From</label>
            </td>
            <td>
                <input class="form-control datepicker" id="FromDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>
            <td>
                <label style="margin: 20px">@Strings.To</label>
            </td>
            <td>
                <input class="form-control datepicker" id="ToDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>
        </tr>
    </table>
    <br />
    <table width="40%" style="text-align:center">
        <tr>
            <td style="text-align:center">
                <button class="btn btn-primary" onclick="searchBtn()">@Strings.Search</button>
            </td>
            <td style="text-align:left">
                @if (PrintBtn)
                {<button class="btn btn-primary" onclick="PrintReport()">@Strings.PrintReport</button> }
                
            </td>
            <td style="text-align:center">
                @if (ExcelBtn)
                { <button class="btn btn-primary" onclick="DownloadExcel()">@Strings.ExportToExcel</button>}
                
            </td>
        </tr>
    </table>
    <br />

    <table width="100%" id="dtInvCycle">
        <thead>

        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
          intializeInvCycleGrid();

    })
    function intializeInvCycleGrid() {
        $('#dtInvCycle').DataTable({
            ajax: {
                url: "/InventoryCycle/Search",
                type: "Get",
                data: function (d) {
                    return $.extend({}, d, {
                        fromDate: $("#FromDate").val(),
                        toDate: $("#ToDate").val(),
                        //BranchID:$("#")
                    });
                }

            },
            columns: [
                { "data": null, title: '@Strings.SN', width: "5%" },
                { data: "ItemGroup", title: '@Strings.itemGroup', width: "15%" },
                { data: "ItemCode", title: '@Strings.ItemCode', width: "15%" },
                { data: "ItemName", title: '@Strings.ItemName', width: "15%" },
                { data: "Opening", title: '@Strings.Opening', width: "10%" },
                { data: "Recieved", title: '@Strings.Recieved', width: "10%" },
                { data: "Balance", title: '@Strings.Balance', width: "10%" },
                { data: "Used", title: '@Strings.Used', width: "10%" },
                { data: "Sold", title: '@Strings.Sold', width: "5%" },
                { data: "Difference", title: '@Strings.Diff', width: "5%" },



            ],
            fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $("td:nth-child(1)", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        });
    }
function searchBtn() {
 $('#dtInvCycle').DataTable().ajax.reload();
}
function PrintReport()
 {
    debugger
    var v = $("#ToDate").val();
    var Url = '/InventoryCycle/InvCyclePrintReport?FromDate=' + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val();
   window.open(Url , '_blank');
 }

function DownloadExcel()
    {
        $.ajax({
            type: "POST",
            url: "/InventoryCycle/ExportToExcel",
            data: {
                FromDate:$("#FromDate").val(),
                ToDate :$("#ToDate").val(),
            },
            cache: false,
            success: function (data) {
                window.location = '/InventoryCycle/Download';
            },
            error: function (data) {
                Materialize.toast("Something went wrong. ", 3000, 'rounded');
            }
        });
    }

</script>