﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var curDate = @ViewBag.DateTime.ToString("dd/MM/yyyy");
    bool Flag = ViewBag.Flag;

    bool ExcelBtncount = false;
    bool PrintBtncount = false;
    bool ExcelBtnvalue = false;
    bool PrintBtnvalue = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    PrintBtncount = bc.GetUserTicketView("/InventoryCount/InventoryCountReport");
    ExcelBtncount = bc.GetUserTicketView("/InventoryCount/ExportToExcel?flag=false");
    PrintBtnvalue = bc.GetUserTicketView("/InventoryCount/InventoryValueReport");
    ExcelBtnvalue = bc.GetUserTicketView("/InventoryCount/ExportToExcel?flag=true");
}

<div class="container">
    <a href="javascript:void(0);">
        @Strings.inventory > @Strings.InventoryCount
    </a>
    <table width="60%" style="margin:0px;text-align:center">
        <tr>
            <td>
                <label style="margin:20px;font-weight:bold">@Strings.AsOf</label>
            </td>
            <td>
                <input class="form-control datepicker" id="Asof" data-format="dd/mm/yyyy" type="text" value="@curDate" />
            </td>
            <td>
                <label style="margin:20%;font-weight:bold">@Strings.Warehouse</label>
            </td>
            <td>
                @Html.DropDownList("WarehouseID", null, Strings.Select + " " + Strings.Warehouse)
                @Html.ValidationMessage(Strings.Warehouse, "", new { @class = "text-danger", id = "vWarehouseID" })
            </td>
        </tr>
    </table>
    <br />

    <table width="40%" style="text-align:center">
        <tr>
            <td style="text-align:center">
                <button class="btn btn-primary" onclick="searchBtn()">@Strings.Search</button>
            </td>
            <td style="text-align:left">
                @if (PrintBtncount&& Flag== false || PrintBtnvalue&& Flag == true)
                {<button class="btn btn-primary" onclick="PrintReport()">@Strings.PrintReport</button> }
                
            </td>
            <td style="text-align:center">
                @if (ExcelBtncount && Flag == false || ExcelBtnvalue && Flag == true)
                {<button class="btn btn-primary" onclick="DownloadExcel()">@Strings.ExportToExcel</button> }
                
            </td>
        </tr>
    </table>
    <br />
    <table width="100%" id="dtInventory">
        <thead>

        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7" style="text-align:right"></th>

                <th></th>
            </tr>
        </tfoot>

    </table>
    <br />

</div>
<script>
    $(document).ready(function () {
            debugger
            intializeInvCountGrid();


        })

    function intializeInvCountGrid() {
        debugger
        var flag = true;
        if ('@Flag' == "True")
        {
            flag = true;
        }
        else { flag = false; }
        $('#dtInventory').DataTable({
            ajax: {
                url: "/InventoryCount/Search",
                type: "Get",

                data: function ( d ) {
                  return $.extend( {}, d, {
                      AsOfDate:$("#Asof").val(),
                      WareHouseID : $("#WarehouseID").val()
                   } );
                  }
            },
            columns: [
                { "data": null, title: '@Strings.SN', width: "10%" },
                {data: 'ItemGroup', title: '@Strings.itemGroup', width: "15%" },
                { data: 'ItemCode', title: '@Strings.ItemCode', width: "10%" },
                { data: 'ItemName', title: '@Strings.ItemName', width: "15%" },
                { data: 'Unit', title: '@Strings.Unit', width: "10%" },
                { data: 'Qty', title: '@Strings.QTY', width: "10%" },
                { data: 'AvePrice', title: '@Strings.AvePrice', width: "15%", visible: flag },
                { data: 'Amount', title: '@Strings.Amount', width: "15%", visible:  flag},
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var amount = 0;
                for (i = 0; i < data.length; i++) {

                    amount += parseInt(data[i].Amount);
                }

                $(api.column(7).footer()).html(amount);/*toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"))*/

            },

            fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $("td:nth-child(1)", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        });
    }
 function searchBtn() {
 $('#dtInventory').DataTable().ajax.reload();
    }

 function PrintReport()
 {
      var flag = true;
        if ('@Flag' == "True")
        {
            flag = true;
        }
        else { flag = false; }
     debugger
     var Url = '';
     if (flag)
     {
         Url = '/InventoryCount/InventoryValueReport?AsOfDate=' + $("#Asof").val() + "&WareHouseID=" + $("#WarehouseID").val();
     }
     else
     {
         Url = '/InventoryCount/InventoryCountReport?AsOfDate=' + $("#Asof").val()+ "&WareHouseID=" +$("#WarehouseID").val();
     }
     window.open(Url , '_blank');
 }
    function DownloadExcel()
    {
        var flag = true;
        if ('@Flag' == "True")
        {
            flag = true;
        }
        else { flag = false; }
        debugger
        $.ajax({
            type: "POST",
            url: "/InventoryCount/ExportToExcel",
            data: {
                AsOfDate:$("#Asof").val(),
                WareHouseID: $("#WarehouseID").val(),
                Flag: flag
            },
            cache: false,
            success: function (data) {
                window.location = '/InventoryCount/Download';
            },
            error: function (data) {
                Materialize.toast("Something went wrong. ", 3000, 'rounded');
            }
        });
    }
</script>