﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;
@model IEnumerable<Agi.DonerKonner.DataAccess.Custody.CustodyItem>
@{
    ViewBag.Title = "CustodyItem";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/CustodyItem/Save");
    EditBtn = bc.GetUserTicketView("/CustodyItem/EditcCitem");
    DeleteBtn = bc.GetUserTicketView("/CustodyItem/DeleteCitems");
    PrintBtn = bc.GetUserTicketView("/CustodyItem/CustodyItemReport");
}

<script type="text/javascript">
$(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dtCitems')) {
            $('#dtCitems').DataTable({
                ajax: {
                    url: "/CustodyItem/GetCitems",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'CitemName', title: '@Strings.Name', width: "25%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "75%" },
                    {
                        data: 'Citemid',
                        orderable: false,
                        visible: true, width: "3%",
                        render: function (Citemid, type, row, meta) {
                            return '@if(EditBtn){<a href="javascript:void(0)" onclick="EditCitem(' + Citemid + ')" ><i class="glyphicon glyphicon-pencil"></i></a >}'+
                                '@if(DeleteBtn){<a href="javascript:void(0)" onclick="showdeletepopup(' + Citemid + ')" class="btn"><i class="glyphicon glyphicon-trash"></i></a >}'
                        }
                    },

                ],

            });

        } else {
            $('#dtCitems').DataTable().ajax.reload();
        }
    });
    function showdeletepopup(Citemid) {
        $('#Citemid').val(Citemid);
        $('#confirmPopupBody').text('@Strings.deleteconfirmcitem' + Citemid + " ?");
        $("#confirmCitemDelete").modal('show');
    }
    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/CustodyItem/DeleteCitems",
            method: "Post",
            data: {
                Citemid: $('#Citemid').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmCitemDelete').modal('hide');
                $('#Citemid').val('');
                $('#dtCitems').DataTable().ajax.reload();

            },
            error: function () {

            },
        });
    }
    function hidepopup() {
        $('#confirmCitemDelete').modal('hide');
        $('#Citemid').val('');
    }
    function showAEpopup() {
        clearData();
        $('#popupAddCitemTitle').text("@Strings.AddCustody");
        debugger
        $("#mdlAddCitem").modal('show');
    }
    function hideAEpopup() {
        $('#mdlAddCitem').modal('hide');
    }
    function clearData() {
        $('#CitemName').val('');
        $('#CitemNote').val('');
    }
    function EditCitem(Citemid) {
        $.ajax({
            url: "/CustodyItem/EditcCitem",
            method: "GET",
            data: {
                Citemid: Citemid
            },
            success: function (result) {
                debugger
                $("#mdlAddCitem").modal('show');
                $('#popupAddCitemTitle').text("@Strings.EditCitem");

                $('#CitemName').val(result.data.Name);
                $('#CitemNote').val(result.data.Notes);

            },
            error: function (result) {

            }
        });
    }
    function Save() {
        $.ajax({
            url: "/CustodyItem/Save",
            method: "Post",
            data: {
                Name: $("#CitemName").val(),
                Notes: $('#CitemNote').val(),

            },
            beforeSend: function (result) {
            },
            success: function (result) {
                hideAEpopup();
                $('#dtCitems').DataTable().ajax.reload();
            },
            error: function () {

            },
        });
    }

    function saveandnew() {
        $.ajax({
            url: "/CustodyItem/Save",
            method: "Post",
            data: {
                Name: $("#CitemName").val(),
                Notes: $('#CitemName').val(),

            },
            beforeSend: function (result) {

            },
            success: function (result) {
                $('#dtCitems').DataTable().ajax.reload();
                clearData();


            },
            error: function () {

            },
        });
    }
</script>
<div class="container">

    <a href="javascript:void(0);">
        @Strings.Custody >  @Strings.Custodyitem
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button onclick="showAEpopup()" class="btn btn-primary">@Strings.AddCustody</button>}
            @if (PrintBtn)
            {<a type="button" target="_blank" class="btn btn-primary" href=' @Url.Action("CustodyItemReport","CustodyItem")' ;">@Strings.PrintReport</a>}            
        </div>
    </p>
    <center>
        <table id="dtCitems" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </center>
</div>

<input type="hidden" id="Citemid" />

<div class="modal fade" id="confirmCitemDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.DeleteCustodyItem</h3>
            </div>
            <div class="modal-body">

                <h4>@Html.Label("0", new { id = "confirmPopupBody" }) </h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                        <a onclick="hidepopup()">@Strings.Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlAddCitem">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="popupAddCitemTitle"></h3>
            </div>
            <div class="modal-body">
                <table style="margin-bottom:0px">
                    <tr>
                        <td width="10%">
                            @Html.Label(@Strings.Name)
                            @Html.TextBox("CitemName", "", new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            @Html.Label(@Strings.Notes)
                            @Html.TextArea("CitemNote", "", 5, 5, new { @class = "form-control" })
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="Save()">@Strings.Save</button>
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="saveandnew()">@Strings.SaveAndNew</button>

                        <a onclick="hideAEpopup()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>