﻿@using Agi.DonerKonner.Globalization
@model Agi.DonerKonner.DataAccess.Inventory.InvOpening
    

@{
    ViewBag.Title = @ViewBag.title;
    string header = @ViewBag.pageheader;
    //ViewBag.Title = "AddTrans";
}

@*<link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.min.css">
    <script src="~/Scripts/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>*@
@* <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/datatables.min.js"></script>*@


@Html.Hidden("hdnSelectedItemID")
<script type="text/javascript">
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : evt.keyCode

        return !(charCode ==110 || charCode > 31 && (charCode < 48 || (charCode > 57 && charCode < 96) || (charCode > 105 && charCode < 110) || charCode > 110) && charCode != 46);
    }
    $(document).ready(function () {
        $("#Quantity").keydown(function (e) {

            debugger
            var txt = $("#Quantity").val();
            var dotcontainer = txt.split('.');
            if (e.keyCode == 110) {
                if (dotcontainer.length == 1) {
                    debugger
                } else {
                    e.preventDefault();
                }
            } else if (dotcontainer.length == 2) {
                if (dotcontainer[1].length > 2 && e.keyCode!=8)
                    e.preventDefault();
            }
            else {
                if ((e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40) ||
                    $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1) {
                    debugger
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
                    (e.keyCode < 96 || e.keyCode > 105)) {
                    debugger
                    e.preventDefault();
                }
            }

        });

        $("#Price").keydown(function (e) {
            var txt = $("#Price").val();
            var dotcontainer = txt.split('.');
            if (e.keyCode == 110) { 
                if (dotcontainer.length == 1) {
                    debugger
                } else {
                    e.preventDefault();
                }
            } else if (dotcontainer.length == 2) {
                if (dotcontainer[1].length > 2 && e.keyCode != 8)
                    e.preventDefault();
            }
            else {
                if ((e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40) ||
                    $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1) {
                    debugger
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
                    (e.keyCode < 96 || e.keyCode > 105)) {
                    debugger
                    e.preventDefault();
                }
            }

        });

        //$('#GroupID').select2({
        //    dropdownParent: $('#mdlAddItemsTrans'),
        //    tags: true,
        //   allowClear: true
        //});
        $('#WarehouseID').select2({});
        $('#GroupID').select2({});
        $('#ItemName').select2();
        $('#ItemID').select2();

        //$('#ItemID').select2({

        //    tags: true,
        //    allowClear: true
        //});
        $('#dtitems').DataTable({
            ajax: {
                url: "/Transactions/fillDaataTable",
                type: "GET",
                dataType: "Json"
            },
             
            columns: [
                { data: 'ItemName' },
                { data: 'Unit', width: '5%', },
                { data: 'Price', width: '10%', },
                { data: 'Quantity', width: '10%' },
                { data: 'Quantity',
                    width: '10%',
                    render: function (Quantity, type, row, meta) {
                        //Quantity.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                        return (parseInt(Quantity) * parseInt(row.Price)).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                    }


                },
                {
                    data: 'ItemCode',
                    orderable: false,
                    width: '10%',
                    visible: true,
                    render: function (ItemCode, type, row, meta) {
                        
                        return '<a style="Padding-right:10px" href="#" onclick="UpdateitemsGrid(\'' + ItemCode + '\')" ><i class="glyphicon glyphicon-pencil" ></i></a >' +
                            '<a href="#" onclick="showConfirmationpopup(\'' + ItemCode + '\')" class="btn" ><i class="glyphicon glyphicon-trash" ></i></a >'
                    }

                },
                 

            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                var totalQTY = 0;
                 for (var i = 0; i < data.length; i++) {
                    totalQTY += parseInt(data[i].Quantity)* parseInt(data[i].Price);
                }
                // Update footer
                $(api.column(4).footer()).html(totalQTY.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            }
        });
    });



    function bindItemsDll() {
        $.ajax({
            url: "/Transactions/BindItemsDll",
            method: "Post",
            data: {
                groupId: $("#GroupID").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                $("#ItemID").html("");
                $("#ItemName").html("");

                $("#ItemID").append("<option value='-1'>@Strings.Select @Strings.Code</option>");
                $("#ItemName").append("<option value='-1'>@Strings.Select @Strings.Item</option>");
                for (var i = 0; i < result.data.length; i++) {
                    var item = result.data[i];

                    $("#ItemID").append("<option value = '" + item.Value + "' >" + item.Value + "</option>");
                    $("#ItemName").append("<option value = '" + item.Value + "' >" + item.Text + "</option>");
                }

                if ($("#hdnSelectedItemID").val() != '') {
                    $("#ItemID").val($("#hdnSelectedItemID").val());
                    $("#ItemID").trigger("change");
                    $("#ItemName").val($("#hdnSelectedItemID").val());
                    $("#ItemName").trigger("change");
                }

            },
            error: function () {
                $("#div1").html(result);
            },
        });
    }

    function showConfirmationpopup(ItemCode) {
        $('#deleteitemid').val(ItemCode);
        $('#confirmPopupBody').text('@Strings.DeleteMessage @Strings.Item : ' + ItemCode + " ?");
        $('#Confirmdelete').modal('show');
    }

    function DeleteitemsGrid() {
        debugger
        $.ajax({
            url: "/Transactions/DeleteFromGrid",
            method: "POST",
            data: {
                ItemID: $('#deleteitemid').val()
            },
            success: function (result) {
                debugger
                $('#Confirmdelete').modal('hide');
                $('#deleteitemid').val('');
                $('#dtitems').DataTable().ajax.reload();
            },
            error: function (result) {

            },
        });
    }

    function UpdateitemsGrid(ItemID) {
        Add = false;

        debugger
        $.ajax({
            url: "/Transactions/UpdateitemsGrid",
            method: "GET",
            data: {
                ItemID: ItemID
            },
            success: function (result) {
                showpopup();
                $('#popupAddtransTitle').text ("Edit Item");
                debugger
                $("#GroupID").val(result.data.GroupID);
                $("#GroupID").trigger("change");
                bindItemsDll();
                //$('#ItemID option:selected').value=(result.data.ItemID);

                //$('#ItemName').val(result.data.ItemName);
                //$("#ItemName").trigger("change")
                $('#Unit').val(result.data.Unit);
                $('#Price').val(result.data.Price);
                $('#Quantity').val(result.data.Quantity);
                $('#Amount').val(result.data.Quantity * result.data.Price);
                $('#ItemsNotes').val(result.data.Notes);

                $("#hdnSelectedItemID").val(result.data.ItemCode)
            },
            error: function (result) {

            }
        });
    }

    function bindItemsCodeDataDll(src) {
        debugger
        //let itemCode = $(src).val();
        //$("#ItemName").val(itemCode);
        //$("#select2-ItemName-container").text(itemCode);
        //$("#ItemName").select2();
        //// $("#ItemName").select2('val', itemCode);
        $.ajax({
            url: "/Transactions/BindItemsDataDll",
            method: "Post",
            data: {
                itemId: $('#ItemID option:selected').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                $("#Unit").val(result.unit);
                //$("#ItemName").val(result.code);
                //$("#ItemName").select2('val', result.code);
                //$("#ItemName").trigger("change");
                let itemCode = $(src).val();
                $("#ItemName").val(itemCode);
                $("#select2-ItemName-container").text(itemCode);
                $("#ItemName").select2();
            },
            error: function () {
                $("#div1").html(result);
            },
        });
    }
    function bindItemsDataDll(src) {
        debugger


        $.ajax({
            url: "/Transactions/BindItemsDataDll",
            method: "Post",
            data: {
                itemId: $('#ItemName option:selected').val()
            },
            beforeSend: function () {
            },
            success: function (result) {
                debugger
                $("#Unit").val(result.unit);
                //$("#ItemID").val(result.code);
                //$("#ItemID").trigger("change");
                let itemCode = $(src).val();
                $("#ItemID").val(itemCode);
                $("#select2-ItemID-container").text(itemCode);
                $("#ItemID").select2();
            },
            error: function () {
                $("#div1").html(result);
            },
        });
    }

    function bindAddtoGrid() {
        $.ajax({
            url: "/Transactions/BindAddToGrid",
            method: "Post",
            data: {
                groupId: $("#GroupID").val(),
                itemCode: $('#ItemID option:selected').val(),
                ItemName: $('#ItemName option:selected').text(),
                unit: $('#Unit').val(),
                Price: $('#Price').val(),
                Quantity: $('#Quantity').val(),
                Notes: $('#ItemsNotes').val()
            },
            beforeSend: function (result) {
                debugger
            },
            success: function (result) {
                debugger
                
                clearData();
                if (!$.fn.DataTable.isDataTable('#dtitems')) {

                } else {
                    $('#dtitems').DataTable().ajax.reload();
                }

            },
            error: function () {

            },
        });
    }

    function SaveandExit() {
        bindAddtoGrid();
        $('#mdlAddItemsTrans').modal('hide');
    }
    function save() {
        $.ajax({
            url: "/Transactions/Save",
            method: "Post",
            data: {
                code: $("#TransNo").val(),
                date: $('#TransDate').val(),
                warehousID: $('#WarehouseID').val(),
                Notes: $('#Notes').val(),


            },
            beforeSend: function (result) {
            },
            success: function (result) {

                window.location.href = "/Transactions/Transactions";
            },
            error: function () {

            },
        });
    }

    function Cancel() {
        $.ajax({
            success: function () {
                window.location.href = "/Transactions/Transactions";
            },
        });
    }

    function saveandnew() {
        $.ajax({
            url: "/Transactions/Save",
            method: "Post",
            data: {
                code: $("#TransNo").val(),
                date: $('#TransDate').val(),
                warehousID: $('#WarehouseID').val(),
                Notes: $('#Notes').val(),


            },
            beforeSend: function (result) {

            },
            success: function (result) {


            },
            error: function () {

            },
        });
    }
    function showpopup() {
        clearData();
        $('#popupAddtransTitle').text("Add Item");
        debugger
        $("#mdlAddItemsTrans").modal('show');

    }
    function clearData() {
        $("#GroupID").val('');
        $('#ItemID').val('');
        $('#ItemName').val('');
        $("#GroupID").select2();
        $("#ItemID").select2();
        $("#ItemName").select2();
        $('#Unit').val('');
        $('#Price').val('');
        $('#Quantity').val('');
        $('#Amount').val('');
        $('#ItemsNotes').val('');
    }
    function hidepopup() {
        $('#mdlAddItemsTrans').modal('hide');
    }
    function hidedeletepopup() {
        $('#Confirmdelete').modal('hide');
        $('#deleteitemid').val('');
    }
    function getAmount() {
        var price = $('#Quantity').val();
        var QTY = $('#Price').val();
        if (price != '' && QTY != '') {
            var r = price * QTY;
            r = r.toFixed(3);
            r = r.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            debugger
            $('#Amount').val(r);
        } else {
            $('#Amount').val('');
        }
    }
</script>

<style>
    tr.row2 td {
        padding-top: 15px;
    }

    table, th, td {
        padding: 5px;
    }
    /* table{
        border:0;
        width:100%
    }*/

</style>
<div class="container">

    <!-- LOGIN -->
        <a href="javascript:void(0);">
            @ViewBag.pageheader
        </a>
    @using (Html.BeginForm("AddTrans", "Transactions", FormMethod.Post))
    {@Html.AntiForgeryToken() HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
<div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
    <table width="100%" style="margin:0px">
        <tr>

            <td>
                @*<div class="form-group">*@
                @*@Html.Label(@Strings.TransNo)*@
                <label>@Strings.TransNo</label>
            </td>
            <td>
                @*<div class="col-md-10">*@
                @*@Html.EditorFor(model => model.TransNo, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.EditorFor(model => model.TransNo, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })
                @*@Html.TextBox("TransNo", "", new { @disabled = "disabled", @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.TransNo, "", new { @class = "text-danger" })
                @*</div>
                    </div>*@
            </td>
            <td>

                @*@Html.Label(Strings.TransDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>@Strings.TransDate</label>
            </td>
            <td>

                @Html.EditorFor(model => model.TransDate, new { htmlAttributes = new { @class = "form-control datepiker", placeholder = "ex: 20 nov 2018" } })
                @Html.ValidationMessageFor(model => model.TransDate, "", new { @class = "text-danger" })

            </td>
            <td>
                @Html.Label("Warehouse")
            </td>
            <td>
                @Html.DropDownList("WarehouseID", null, "Select WareHouse")
                @Html.ValidationMessageFor(model => model.Warehouse, "", new { @class = "text-danger" })

            </td>
        </tr>
    </table>
    <table width="100%" style="margin:0px">
        <tr>

            <td width="10%">
                @*<div class="form-group">*@
                @Html.LabelFor(model => model.Notes)
            </td>
            <td width="90%">
                @*<div class="col-md-10">*@
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TransNo, "", new { @class = "text-danger" })
                @*</div>
                    </div>*@
            </td>
        </tr>
    </table>
    <br />
    <a href="#" class="btn btn-primary" style="margin-bottom:20px" onclick="showpopup()">Add Item</a>
    <br />
    <div class="modal fade" id="mdlAddItemsTrans">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="popupAddtransTitle">
                    </h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <table style="margin-bottom:0px">
                        <tr>
                            <td width="25%">
                                @Html.Label(Strings.Group)
                                @Html.DropDownList("GroupID", null, Strings.Select + " " + Strings.Group, new { onchange = "bindItemsDll()", @style = "width:100%" })
                            </td>

                            <td width="25%">
                                @Html.Label(Strings.Code)
                                <select style="width:100%" id="ItemID" onchange="bindItemsCodeDataDll(this)">
                                    <option value="-1">@Strings.Select @Strings.Code</option>
                                </select>
                            </td>
                            <td width="40%">
                                @Html.Label(Strings.ItemName)
                                @*@Html.TextBox("ItemName", "", new { @disabled = "disabled", @class = "form-control" })*@
                                <select style="width:100%" id="ItemName" onchange="bindItemsDataDll(this)">
                                    <option value="-1">@Strings.Select @Strings.Item</option>
                                </select>
                            </td>
                            <td width="10%">
                                @Html.Label(Strings.Unit)
                                @Html.TextBox("Unit", "", new { @disabled = "disabled", @class = "form-control" })
                            </td>
                        </tr>
                        <tr>

                            <td>
                                @Html.Label("QTY")
                                @Html.TextBox("Quantity", "", new { @class = "form-control", onchange = "getAmount()" })
                            </td>
                            <td>
                                @Html.Label("Unit Price")
                                @Html.TextBox("Price", "", new { @class = "form-control", onchange = "getAmount()" })
                            </td>
                            <td colspan="1">
                                @Html.Label("Amount")
                                @Html.TextBox("Amount", "", new { @disabled = "disabled", @class = "form-control", style = "width:50%" })
                            </td>


                        </tr>
                        <tr>
                            <td colspan="4">
                                @Html.Label("Notes")
                                @Html.TextArea("ItemsNotes", "", 5, 5, new { @class = "form-control" })
                            </td>
                        </tr>

                        @*<tr class="row2">
                                <td colspan="6" style="text-align:center">
                                </td>
                            </tr>*@
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" name="AddToGrid" class="btn btn-primary" onclick="SaveandExit()">@Strings.Save</button>
                            <button type="button" name="AddToGrid" class="btn btn-primary" onclick="bindAddtoGrid()">@Strings.SaveAndNew</button>

                            <a onclick="hidepopup()">@Strings.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <center>
        <table id="dtitems" class="display">
            <thead>
                <tr>
                    <td>
                        @Html.Label(Strings.ItemName)
                    </td>
                    <td>
                        @Html.Label(Strings.Unit)
                    </td>
                    <td>
                        @Html.Label(Strings.UnitPrice)
                    </td>
                    <td>
                        @Html.Label(Strings.QTY)
                    </td>
                    <td>
                        @Html.Label("Amount")
                    </td>
                    <td>
                        @Html.Label("")
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" style="text-align:right">Total Amount:</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>




    </center>
    <br />
    <div style="float:right">
        <button type="submit" onclick="save()" class="btn btn-primary">@Strings.Save</button>
        <button type="submit" onclick="saveandnew()" class="btn btn-primary">@Strings.SaveAndNew</button>
        <a onclick="Cancel()">@Strings.Cancel</a>
    </div>

</div>

}

</div>

<input type="hidden" id="deleteitemid" />
<div class="modal fade" id="Confirmdelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.Delete @Strings.Item</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h4>@Html.Label("0", new { id = "confirmPopupBody" })</h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteitemsGrid()">@Strings.Delete</button>
                        <a onclick="hidedeletepopup()">@Strings.Cancel</a>
                        @*<input type="submit" name="submit" class="btn btn-primary" value="Add To Grid"  //>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@



