﻿
@{
    ViewBag.Title = "showpopup";
}

<h2>showpopup</h2>

<!-- Button trigger modal -->
<<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->


@*<div  id="modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@
@*<a href="" data-izimodal-open="#modal-youtube">Youtube</a>

    <div id="modal-youtube" class="modais"
         data-izimodal-autoopen data-izimodal-transitionin="fadeInDown"
         data-izimodal-title="Youtube"
         data-izimodal-iframeURL="https://www.youtube.com/embed/1G4isv_Fylg?autoplay=1">
        <button id="dd" >ddddd</button>
    </div>*@


<a href="#" class="btn btn-primary" onclick="opens()">Open Modal</a>
<div class="modal fade" id="myModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Items </h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script>

    //$(function () {

    //    $(".modais").iziModal({
    //        history: false,
    //        iframe: true,
    //        fullscreen: true,
    //        headerColor: '#000000',
    //        group: 'group1',
    //        loop: true
    //    });

    //})

    function opens() {
        debugger
        $("#myModal").modal('show');
    }
</script>