﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.InvOpening>

@{
    ViewBag.Title = Strings.InventoryOpenningBalance;

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Transactions/AddTrans");
    EditBtn = bc.GetUserTicketView("/Transactions/UpdateTransView");
    DeleteBtn = bc.GetUserTicketView("/Transactions/DeleteTrans");
    PrintBtn = bc.GetUserTicketView("/Transactions/TransReport");
}

<script type="text/javascript">
    $(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dttrans')) {
            $('#dttrans').DataTable({
                ajax: {
                    url: "/Transactions/getTrans",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'WarhouseName', title: '@Strings.Warehouse', width: "13%" },
                    { data: 'TransNo', title: '@Strings.TransNo', width: "12%" },
                    { data: 'TransDate', title: '@Strings.TransDate', width: "12%" },
                    { data: 'itemsCount', title:'@Strings.NoofItems', width: "10%" },
                    {
                        data: 'TotAmount', title: '@Strings.TotalAmount', width: "13%",
                        render: function (TotAmount, type, row, meta) {
                            return TotAmount.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                        }
                    },
                    { data: 'Notes', title: '@Strings.Notes', width: "30%" },
                    {
                        data: 'TransNo',
                        orderable: false,
                        visible: true, width: "10%",
                        render: function (TransNo, type, row, meta) {
                            return '@if(EditBtn){<a href="" onclick="UpdateTrans(' + TransNo + ')" ><i class="glyphicon glyphicon-pencil" ></i></a >}' +
                                '@if(DeleteBtn){<a href="#" onclick="showpopup(' + TransNo + ')" class="btn"><i class="glyphicon glyphicon-trash" ></i></a >}' +
                                '@if(PrintBtn){<a href="/Transactions/TransReport?TransNo=' + TransNo + '" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a >}'
                        }

                    },

                ],

            });
        } else {
            $('#dttrans').DataTable().ajax.reload();
        }
    });

    function showpopup(TransNo) {
        $('#TransNo').val(TransNo);
        $('#confirmPopupBody').text('@Strings.DeleteMessage @Strings.InventoryOpenningBalance : ' +TransNo+" ?");
        $("#confirmTransDelete").modal('show');
    }
    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/Transactions/DeleteTrans",
            method: "Post",
            data: {
                Transno: $('#TransNo').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmTransDelete').modal('hide');
                $('#TransNo').val('');
                $('#dttrans').DataTable().ajax.reload();

            },
            error: function () {

            },
        });
    }
    function hidepopup() {
        $('#confirmTransDelete').modal('hide');
        $('#TransNo').val('');
    }
    function UpdateTrans(TransNo) {

        $.ajax({
            url: "/Transactions/UpdateTrans",
            method: "Post",
            data: {
                Transno: TransNo
            },
            beforeSend: function () {

            },
            success: function (result) {
                window.location.href = "/Transactions/UpdateTransView?Transno=" + TransNo;
            },
            error: function () {

            },
        });
    }

    function CreateNew() {
        window.location.href = "/Transactions/AddTrans";
    }

</script>

<div class="container">

    <a href="javascript:void(0);">
        @(Strings.Homw) > @(Strings.InventoryOpenningBalance)
    </a>

    <p style="margin-left:80px; width:80%">

        <div>
            @if (CreateBtn)
            {<button onclick="CreateNew()" class="btn btn-primary">@Strings.AddNewTrans</button> }
        </div>

    </p>
    <center>

        <table id="dttrans" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
</div>
<input type="hidden" id="TransNo" />
<div class="modal fade" id="confirmTransDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.Delete @Strings.InventoryOpenningBalance </h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h5>@Html.Label("0", new { id = "confirmPopupBody" }) </h5>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                        <a onclick="hidepopup()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
