﻿@using Agi.DonerKonner.Globalization
@model Agi.DonerKonner.DataAccess.Inventory.InvPhysicalCount

@{
    ViewBag.Title = "Add Physical Count";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Boolean isadd = @ViewBag.IsAdd;

}

<style>
    tr.row2 td {
        padding-top: 15px;
    }

    table, th, td {
        padding: 5px;
    }
</style>

<div class="container">

    <!-- LOGIN -->
    <a href="javascript:void(0);">
        @Strings.inventory > @Strings.PhysicalCount > @Strings.AddPhysicalCount
    </a>

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table width="100%" style="margin:0px">
            <tr>

                <td>
                    <label>@Strings.TransNo</label>
                </td>
                <td>
                    @Html.Editor("TransNo", new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TransNo, "", new { @class = "text-danger" })
                </td>
                <td>

                    <label>@Strings.TransDate</label>
                </td>
                <td>

                    <input style="padding-left:10px" class="form-control datepicker" id="Date" name="Date" data-format="dd/mm/yyyy" value="@ViewBag.TransDate.ToString("dd/MM/yyyy")" />

                    <span id="Dateerror" style="color:red; font-size:small"></span>

                </td>
                <td>
                    @Html.Label("Warehouse")
                </td>
                <td>
                    @Html.DropDownList("WarehouseID", null, "Select WareHouse")
                    @Html.ValidationMessageFor(model => model.Warehouse, "", new { @class = "text-danger" })

                </td>
            </tr>
        </table>

        <table width="100%" style="margin:0px">
            <tr>

                <td width="10%">
                    @Html.LabelFor(model => model.Notes)
                </td>
                <td width="90%">
                    @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", @id = "PhNotes" } })
                    @Html.ValidationMessageFor(model => model.TransNo, "", new { @class = "text-danger" })

                </td>
            </tr>
        </table>
        <br />
        <button class="btn btn-primary" type="button" style="margin-bottom:20px" onclick="showItempopup()">@Strings.AddItem</button>
        <br />

        <center>
            <table id="dtitems" class="display">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

        </center>
        <br />
        <div style="float:right">
            <button type="button" onclick="if ('@ViewBag.isadd') { AddPhCount(); } else { EditPhCount(); }" class="btn btn-primary">@Strings.Save</button>
            <button type="button" onclick="if ('@ViewBag.isadd') { AddPhCountandNew(); } else { EditPhCountandNew(); }" class="btn btn-primary">@Strings.SaveAndNew</button>
            <a href="/PhysicalCount/Index">@Strings.Cancel</a>
        </div>

    </div>
</div>


@Html.Hidden("AddandNew", false);
<div class="modal" tabindex="-1" role="dialog" id="mdlAddItemsTrans">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="itemsPopupContainer">

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dtitems')) {
            $('#dtitems').DataTable({
                ajax: {
                    url: "/PhysicalCount/fillDataTable",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'ItemCode', title: '@Strings.ItemCode', width: "10%" },
                    { data: 'ItemName', title: '@Strings.ItemName', width: "15%" },
                    { data: 'UnitName', title: '@Strings.Unit', width: "6%" },
                    { data: 'Qty', title: '@Strings.QTY', width: "10%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "45%" },
                    {
                        data: 'guid',
                        orderable: false,
                        visible: true, width: "8%",
                        render: function (guid, type, row, meta) {
                            return "<a href=\"javascript:void(0)\" onclick=\"showItemeditpopup('" + guid + "')\" ><i class=\"glyphicon glyphicon-pencil\" ></i></a >" +
                                "<a href=\"javascript:void(0)\" onclick=\"showConfirmationpopup('" + row.ItemCode + "')\" class=\"btn\"><i class=\"glyphicon glyphicon-trash\" ></i></a >"
                        }

                    },

                ],

            });
        } else {
            $('#dtitems').DataTable().ajax.reload();
        }

        $('#WarehouseID').select2({});
        



    });



    function showItempopup() {

        $.ajax({
            url: "/PhysicalCount/Additem",
            type: "Get",
            success: function (response) {
                debugger
                clearData();

                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');

            }
        })
    }

    function showItemeditpopup(guid) {
        debugger
        $.ajax({
            url: "/PhysicalCount/Edititem",
            type: "Get",
            data: {
                guid :guid
            },
            success: function (response) {
                debugger

                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');

                $('#ItemList').val(response.ItemId).trigger('change');
                $('#Qty').val(response.Qty);
                $('#ItemsNotes').val(response.Notes);
                //$("#ItemList").prop("disabled", true);
                //$("#CodeList").prop("disabled", true);

            }
        })
    }
    function hideItempopup() {
        clearData();
        $('#mdlAddItemsTrans').modal('hide');
    }
    function clearData() {

        $('#ItemList').val('');
        $('#CodeList').val('');
        $('#Unit').val('');
        $('#Qty').val('');
        $('#ItemsNotes').val('');

    }

    function bindItemsDataDll(src) {
        debugger
        let itemval = $(src).val();
        let itemid = $(src).attr('id');
        $.ajax({
            url: "/PhysicalCount/bindItemsDataDll",
            method: "Post",
            data: {

                ItemId: $("#ItemList").val()
                //CodeId: $("#CodeList").val()
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                $("#Unit").val(result.unitName);
                
                if (itemid === "ItemList") {
                    $('#CodeList').attr("onchange", "");
                    $('#CodeList').val(itemval).trigger('change');
                    $('#CodeList').attr("onchange", "bindItemsCodeDataDll(this)");
                }
                else if (itemid === "CodeList") {
                    $('#ItemList').attr("onchange", "");
                    $('#ItemList').val(itemval).trigger('change');
                    $('#ItemList').attr("onchange", "bindItemsDataDll(this)");
                }

            },
            error: function () {

            },
        });
    }

    function bindItemsCodeDataDll(src) {
        debugger
        let itemval = $(src).val();
        let itemid = $(src).attr('id');
        $.ajax({
            url: "/PhysicalCount/bindItemsDataDll",
            method: "Post",
            data: {

                ItemId: $("#CodeList").val()
                //CodeId: $("#CodeList").val()
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                $("#Unit").val(result.unitName);
                
                if (itemid === "ItemList") {
                    $('#CodeList').attr("onchange", "");
                    $('#CodeList').val(itemval).trigger('change');
                    $('#CodeList').attr("onchange", "bindItemsCodeDataDll(this)");
                }
                else if (itemid === "CodeList") {
                    $('#ItemList').attr("onchange", "");
                    $('#ItemList').val(itemval).trigger('change');
                    $('#ItemList').attr("onchange", "bindItemsDataDll(this)");
                }

            },
            error: function () {

            },
        });
    }

    function AddToSession() {
        debugger
        var guid = $('#itemguid').val();
        $.ajax({
            url: "/PhysicalCount/AddItem",
            method: "Post",
            data: {
                guid : guid,
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                if (!result.IsValid)
                {
                    $("#error").text(result.message);
                }
                else if (!result.saveandnewFlag)
                {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#mdlAddItemsTrans").modal('hide');
                    $("#error").text('');
                    clearData();
                }
                else
                {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditToSession() {
        debugger
        $.ajax({
            url: "/PhysicalCount/Edititem",
            method: "Post",
            data: {
                guid : $('#itemguid').val(),
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (!result.IsValid)
                {

                    $("#error").text(result.message);
                }
                else if (!result.saveandnewFlag)
                {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#error").text('');
                    clearData();
                }
                else
                {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }

    function AddToSessionAndNew() {
        debugger
        $("#SaveandNewFlag").val(true);
        $.ajax({
            url: "/PhysicalCount/AddItem",
            method: "Post",
            data: {
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                if (!result.IsValid)
                {
                    $("#error").text(result.message);
                }
                else if (result.saveandnewFlag)
                {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#error").text('');
                    clearData();
                }
                else
                {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditToSessionAndNew() {
        debugger
        $("#SaveandNewFlag").val(true);
        $.ajax({
            url: "/PhysicalCount/Edititem",
            method: "Post",
            data: {
                guid : $('#itemguid').val(),
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (!result.IsValid)
                {

                    $("#error").text(result.message);
                }
                else if (result.saveandnewFlag)
                {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#error").text('');
                    clearData();
                }
                else
                {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }
    function showConfirmationpopup(guid) {
        $.ajax({
            url: "/PhysicalCount/ConfirmationDeletePopup",
            type: "Get",
            data: {
                guid: guid
            },
            success: function (response) {
                debugger
                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');
                $("#confirmPopupBody").text('@Strings.deleteexpconfrmitionmsg');


            },
        });
    }

    function DeleteFromGrid(guid) {
        debugger
         $.ajax({
                url: "/PhysicalCount/DeleteItem",
                type: "Post",
                data: {
                    guid: guid
                },
                success: function (response) {
                    debugger
                    $("#mdlAddItemsTrans").modal('hide');
                    $('#dtitems').DataTable().ajax.reload();
             },
                error: function () {
                debugger
             },

            });
    }

    function AddPhCount() {
        $("#AddandNew").val(false);
        debugger
        $.ajax({
            url: "/PhysicalCount/AddPhCount",
            method: "Post",
            data: {
                AddandNew : $("#AddandNew").val(),
                WarehouseId : $('#WarehouseID').val(),
                TransNo : $('#TransNo').val(),
                TransDate : $('#Date').val(),
                PhNotes : $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (result.IsValid == false) {

                    $("#Dateerror").text(result.message);
                }
                else
                {
                    $("#Dateerror").text(" ");
                    window.location.href = "/PhysicalCount/Index";

                }

            },
            error: function () {
                debugger
            },
        });

    }
    function AddPhCountandNew() {
        $("#AddandNew").val(true);
        debugger
        $.ajax({
            url: "/PhysicalCount/AddPhCount",
            method: "Post",
            data: {
                AddandNew : $("#AddandNew").val(),
                WarehouseId : $('#WarehouseID').val(),
                TransNo : $('#TransNo').val(),
                TransDate : $('#Date').val(),
                PhNotes : $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                //if (result.IsValid == false) {

                //    $("#Dateerror").text(result.message);
                //}
                //else
                //{
                //    $("#Dateerror").text(" ");
                //    window.location.href = "/PhysicalCount/Index";

                //}
                window.location.href = "/PhysicalCount/AddPhCount";

            },
            error: function () {
                debugger
            },
        });

    }
    function EditPhCount() {
        $("#AddandNew").val(false);
        debugger
        $.ajax({
            url: "/PhysicalCount/EditPhCount",
            method: "Post",
            data: {
                AddandNew : $("#AddandNew").val(),
                WarehouseId : $('#WarehouseID').val(),
                TransNo : $('#TransNo').val(),
                TransDate : $('#Date').val(),
                PhNotes : $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (result.IsValid == false) {

                    $("#Dateerror").text(result.message);
                }
                else
                {
                    $("#Dateerror").text(" ");
                    window.location.href = "/PhysicalCount/Index";

                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditPhCountandNew() {
        $("#AddandNew").val(true);
        debugger
        $.ajax({
            url: "/PhysicalCount/EditPhCount",
            method: "Post",
            data: {
                AddandNew : $("#AddandNew").val(),
                WarehouseId : $('#WarehouseID').val(),
                TransNo : $('#TransNo').val(),
                TransDate : $('#Date').val(),
                PhNotes : $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                //if (result.IsValid == false) {

                //    $("#Dateerror").text(result.message);
                //}
                //else
                //{
                //    $("#Dateerror").text(" ");
                //    window.location.href = "/PhysicalCount/Index";

                //}
                window.location.href = "/PhysicalCount/AddPhCount";

            },
            error: function () {
                debugger
            },
        });

    }
    function hidedelpopup() {
        $("#mdlAddItemsTrans").modal('hide');
    }

</script>