﻿@using Agi.DonerKonner.Globalization;
@{
    string guid = @ViewBag.guid;
    int TransNo = @ViewBag.TransNo;
    Boolean del = ViewBag.del;
}
<div class="modal-header">
    <h3 class="modal-title">@Strings.Delete @Strings.ExpensesItems </h3>
    <a href="#" class="close" data-dismiss="modal">&times;</a>
</div>
<div class="modal-body">
    <h5>@Html.Label("0", new { id = "confirmPopupBody" }) </h5>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" name="AddToGrid" class="btn btn-danger" onclick="if ('@ViewBag.del') { DeleteFromGrid(' @guid' ); } else { DeletePhFromGrid(' @TransNo' ); } ">@Strings.Delete</button>
            <a onclick="hidedelpopup()">@Strings.Cancel</a>

        </div>
    </div>
</div>
