﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.InvPhysicalCount>

@{
    ViewBag.Title = @Strings.PhysicalCount;
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/PhysicalCount/AddPhCount");
    EditBtn = bc.GetUserTicketView("/PhysicalCount/EditPhCount");
    DeleteBtn = bc.GetUserTicketView("/PhysicalCount/ConfirmationDeletePhPopup");
    PrintBtn = bc.GetUserTicketView("/PhysicalCount/PhysicalCountReport");
}

<div class="container">

    <a href="javascript:void(0);">
        @Strings.inventory > @Strings.PhysicalCount
    </a>

    <p style="margin-left:80px; width:80%">

        <div>
            @if (CreateBtn)
            {<button onclick="CreateNew()" class="btn btn-primary">@Strings.AddNewTrans</button>}
        </div>

    </p>
    <center>

        <table id="dtphcount" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
</div>
<div class="modal" tabindex="-1" role="dialog" id="mdlAddItemsTrans">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="itemsPopupContainer">

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dtphcount')) {
            $('#dtphcount').DataTable({
                ajax: {
                    url: "/PhysicalCount/PhCountList",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'WarehouseName', title: '@Strings.Warehouse', width: "13%" },
                    { data: 'TransNo', title: '@Strings.TransNo', width: "12%" },
                    { data: 'TransDate', title: '@Strings.TransDate', width: "12%" },
                    { data: 'itemsCount', title:'@Strings.NoofItems', width: "10%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "43%" },
                    {
                        data: 'TransNo',
                        orderable: false,
                        visible: true, width: "10%",
                        render: function (TransNo, type, row, meta) {
                            return '@if(EditBtn){<a href="javascript:void(0)" onclick="UpdatePhCount(' + TransNo + ')" ><i class="glyphicon glyphicon-pencil" ></i></a >}' +
                                '@if(DeleteBtn){<a href="javascript:void(0)" onclick="ConfirmationDeletePhPopup(' + TransNo + ')" class="btn"><i class="glyphicon glyphicon-trash" ></i></a >}' +
                                '@if(PrintBtn){<a href="/PhysicalCount/PhysicalCountReport?TransNo=' + TransNo + '" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a >}'
                        }

                    },

                ],

            });
        } else {
            $('#dtphcount').DataTable().ajax.reload();
        }
    });

    function CreateNew() {
        window.location.href = "/PhysicalCount/AddPhCount";
    }
    function UpdatePhCount(TransNo) {

        window.location.href = "/PhysicalCount/EditPhCount?TransNo=" + TransNo;

    }

    function ConfirmationDeletePhPopup(TransNo) {
        $.ajax({
            url: "/PhysicalCount/ConfirmationDeletePhPopup",
            type: "Get",
            data: {
                TransNo: TransNo
            },
            success: function (response) {
                debugger
                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');
                $("#confirmPopupBody").text('@Strings.deleteexpconfrmitionmsg');


            },
        });
    }

    function DeletePhFromGrid(TransNo) {
        debugger
         $.ajax({
                url: "/PhysicalCount/DeletePhItem",
                type: "Post",
                data: {
                    TransNo: TransNo
                },
                success: function (response) {
                    debugger
                    $("#mdlAddItemsTrans").modal('hide');
                    $('#dtphcount').DataTable().ajax.reload();
             },
                error: function () {
                debugger
             },

            });
    }
</script>