﻿@using Agi.DonerKonner.Globalization;

@{ 

    string guid = @ViewBag.guidval;


}

    <div class="modal-header">
        <span id="error" style="color:red; font-size:small"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <input type="hidden" id="SaveandNewFlag" />
        
        @Html.Hidden("itemguid", guid);
    </div>
<div class="modal-body">
    <table style="margin-bottom:0px">
        <tr>
            <td width="25%">
                @Html.Label(Strings.ItemCode)
                @Html.DropDownList("CodeList", null, Strings.Select + " " + Strings.Code, new { onchange = "bindItemsCodeDataDll(this)", @style = "width:100%" })

            </td>

            <td width="25%">
                @Html.Label(Strings.ItemName)
                @Html.DropDownList("ItemList", null, Strings.Select + " " + Strings.Item, new { onchange = "bindItemsDataDll(this)", @style = "width:100%" })

            </td>

            <td width="10%">
                @Html.Label(Strings.Unit)
                @Html.TextBox("Unit", null, new { @disabled = "disabled", @class = "form-control" })
            </td>
            <td width="15%">
                @Html.Label(Strings.QTY)
                @Html.TextBox("Qty", "", new { @class = "form-control" })
            </td>

        </tr>

        <tr>
            <td colspan="4">
                @Html.Label("Notes")
                @Html.TextArea("ItemsNotes", "", 5, 5, new { @class = "form-control" })
            </td>
        </tr>


    </table>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" name="AddToGrid" class="btn btn-primary" onclick="if ('@ViewBag.iscreate') { AddToSession(); } else { EditToSession(); } ">@Strings.Save</button>
            <button type="button" name="AddToGrid" class="btn btn-primary" onclick="if ('@ViewBag.iscreate') { AddToSessionAndNew(); } else { EditToSessionAndNew(); }">@Strings.SaveAndNew</button>

            <a onclick="hideItempopup()">@Strings.Cancel</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ItemList').select2({});
        $('#CodeList').select2({});
        $('#SaveandNewFlag').val(false);
        $("#Qty").keydown(function (e) {

            debugger
            var txt = $("#Qty").val();
            var dotcontainer = txt.split('.');
            if (e.keyCode == 110) {
                if (dotcontainer.length == 1) {
                    debugger
                } else {
                    e.preventDefault();
                }
            } else if (dotcontainer.length == 2) {
                if (dotcontainer[1].length > 2 && e.keyCode!=8)
                    e.preventDefault();
            }
            else {
                if ((e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40) ||
                    $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1) {
                    debugger
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
                    (e.keyCode < 96 || e.keyCode > 105)) {
                    debugger
                    e.preventDefault();
                }
            }

        });

    });


</script>