﻿@using Agi.DonerKonner.Globalization
@model Agi.DonerKonner.DataAccess.Inventory.Item

@{
    ViewBag.Title = @ViewBag.title;
    string header = @ViewBag.pageheader;
    //ViewBag.Title = "AddTrans";
}
<style>
    tr.row2 td {
        padding-top: 15px;
    }

    table, th, td {
        padding: 5px;
    }
    /* table{
        border:0;
        width:100%
    }*/

</style>
<div class="container">

    <!-- LOGIN -->
    @Html.Hidden("hdnSelectedItemID")
    <a href="javascript:void(0);">
        @ViewBag.pageheader
    </a>
    @using (Html.BeginForm("AddItem", "items", FormMethod.Post))
    {
        @Html.AntiForgeryToken() HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <table width="100%" style="margin:0px">
                <tr>
                    <td>
                        @Html.Label(Strings.Group)
                    </td>
                    <td>
                        @Html.DropDownList("GroupIDMST", null, Strings.SelectGroup, new { onchange = "getCode()", id = "GroupIDMST", @class = "col-md-10", @style = "font-size: initial;width:90%" })
                        @Html.ValidationMessageFor(model => model.ItemGroupID, "", new { @class = "text-danger", id = "vlGroupIDMST" })
                    </td>
                    <td>
                        @Html.Label(Strings.Code)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Code, "", new { @class = "form-control", disabled = "disabled", id = "Code" })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger", id = "vlCode" })
                    </td>
                    <td>
                        @Html.Label(Strings.ItemName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Name, "", new { @class = "form-control", id = "ItemNameMST" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", id = "vlItemNameMST" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label(Strings.Unit)
                    </td>
                    <td>
                        @Html.DropDownList("UnitID", null, Strings.SelectUnit, new { @class = "col-md-10", @style = "font-size: initial;width:90%" })
                        @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger", id = "vlUnitID" })
                    </td>
                    <td>
                        @Html.Label(Strings.Category)
                    </td>
                    <td>
                        @Html.DropDownList("CategoryID", null, Strings.Category, new { @class = "col-md-10", @style = "font-size: initial;width:90%" })
                        @Html.ValidationMessageFor(model => model.CategoryItemId, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <table width="100%" style="margin:0px">
                            <tr>
                                <td>
                                    @Html.Label(Strings.HasStock)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(model => model.HasStock, new { id = "HasStock" })
                                </td>
                                <td>
                                    @Html.Label(Strings.ISActive)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(model => model.IsActive, new { id = "ISActive" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.Label(Strings.ISComponent)
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.IsBundle, new { id = "ISComponent" })
                    </td>
                    <td>

                        @Html.Label(Strings.PostItem)
                    </td>
                    <td>

                        @Html.CheckBoxFor(model => model.IsPOSItem, new { id = "PostItem" })

                    </td>
                    <td>
                        @Html.Label(Strings.Dummy)
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.IsDummy, new { id = "ISDummy" })
                    </td>
                </tr>
            </table>
            <br />
            <ul class="nav nav-tabs">

                <li class="active"><a class="nav-link active" data-toggle="tab" href="#Components">Detailes</a></li>
                <li>@*<a data-toggle="tab" href="#Recipt">Recipt</a>*@</li>
            </ul>
            <div class="tab-content">
                <div id="Component" class="tab-pane fade in active">
                    <button type="button" name="AddComp" id="AddComp" class="btn btn-primary" onclick="showpopup()">@Strings.AddComponenet</button>
                    <table id="dtitems" width="100%" class="display">
                        <thead>
                            <tr>
                                <td>
                                    @Html.Label(Strings.Code)
                                </td>
                                <td>
                                    @Html.Label(Strings.Name)
                                </td>

                                <td>
                                    @Html.Label(Strings.QTY)
                                </td>
                                <td>
                                    @Html.Label("")
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                @*<div id="Recipt" class="tab-pane fade">
                        <button type="button" name="AddRecpy" id="AddRecpy" class="btn btn-primary" onclick="showpopup()">@Strings.AddRecpy</button>
                        <table id="dtitemsrec" width="100%" class="display">
                            <thead>
                                <tr>
                                    <td>
                                        @Html.Label(Strings.Code)
                                    </td>
                                    <td>
                                        @Html.Label(Strings.Name)
                                    </td>
                                    <td>
                                        @Html.Label(Strings.QTY)
                                    </td>
                                    <td>
                                        @Html.Label("")
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>*@
            </div>
            <br />



            <table width="100%" style="margin:0px">
                <tr>

                    <td width="10%">
                        @*<div class="form-group">*@
                        @Html.Label(Strings.Notes)
                    </td>
                    <td width="90%">
                        @Html.TextAreaFor(model => model.Notes, 5, 5, new { @class = "form-control", id = "NotesMST" })
                    </td>
                </tr>

            </table>



            <br />
            <div style="float:right">
                <button type="button" onclick="saveitemandexit()" class="btn btn-primary">@Strings.Save</button>
                <button type="button" onclick="saveitem()" class="btn btn-primary">@Strings.SaveAndNew</button>
                <a onclick="cancel()">@Strings.Cancel</a>
            </div>

        </div>

    }

</div>

<input type="hidden" id="deleteitemid" />

<div class="modal fade" id="mdlAddItemsTrans">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="popupAddtransTitle">
                </h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <table style="margin-bottom:0px">
                    <tr>
                        <td width="25%">
                            @Html.Label(Strings.Group)
                            @Html.DropDownList("GroupID", null, Strings.Select + " " + Strings.Group, new { onchange = "bindItemsDll()", @style = "width:100%" })
                        </td>

                        <td width="25%">
                            @Html.Label(Strings.Code)
                            <select style="width:100%" id="ItemID" onchange="bindItemsCodeDataDll(this)">
                                <option value="-1">@Strings.Select @Strings.Code</option>
                            </select>
                        </td>
                        <td width="40%">
                            @Html.Label(Strings.ItemName)
                            @*@Html.TextBox("ItemName", "", new { @disabled = "disabled", @class = "form-control" })*@
                            <select style="width:100%" id="ItemName" onchange="bindItemsDataDll(this)">
                                <option value="-1">@Strings.Select @Strings.Item</option>
                            </select>
                        </td>
                        <td width="10%">
                            @Html.Label("QTY")
                            @Html.TextBox("Quantity", "", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            @Html.Label("Notes")
                            @Html.TextArea("Notes", "", 2, 5, new { @class = "form-control" })
                        </td>

                    </tr>
                </table>


            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" onclick="AddToGrid()" class="btn btn-primary">@Strings.Save</button>
                        <button type="button" onclick="AddToGridAndNew()" class="btn btn-primary">@Strings.SaveAndNew</button>
                        <a onclick="cancel()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Confirmdelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.Delete @Strings.Item</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h4>@Html.Label("0", new { id = "confirmPopupBody" })</h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteitemsGrid()">@Strings.Delete</button>
                        @*<button type="button" class="btn btn-danger" onclick="hidedeletepopup()">@Strings.Cancel</button>*@

                        <a onclick="hidedeletepopup()">@Strings.Cancel</a>
                        @*<input type="submit" name="submit" class="btn btn-primary" value="Add To Grid"  //>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.ID, new { id = "ItemID" })
<script>

    $(document).ready(function () {


        $('#dtitems').DataTable({
            ajax: {
                url: "/Items/fillDaataTable",
                type: "GET",
                dataType: "Json",
            },
            columns: [
                { data: 'ItemCode', width:"30%" },
                { data: 'ItemName', width: "40%" },
                { data: 'Quantity', width: "20%" },
                {
                    data: 'ItemCode',
                    orderable: false,
                    width: '10%',
                    visible: true,
                    render: function (ItemCode, type, row, meta) {
                        return '<a style="Padding-right:10px" href="#" onclick="UpdateitemsGrid(\'' + ItemCode + '\')" ><i class="glyphicon glyphicon-pencil" ></i></a >' +
                            '<a href="#" onclick="showConfirmationpopup(\'' + ItemCode + '\')"  ><i class="glyphicon glyphicon-trash" ></i></a >'
                    }

                },

            ]

        });

        $("#AddComp").prop("disabled", true);
        $('#AddComp').text("Add");
        $('#ISComponent').change(function () {
            if ($('#ISComponent').prop('checked')) {
                //showpopup();
                //$("#PostItem").prop("checked", false);
                //$("#PostItem").prop("disabled", true);
                $("#ISDummy").prop("checked", false);
                $("#ISDummy").prop("disabled", true);
                //$("#AddRecpy").prop("disabled", false);
                //$("#Recipt").hide(1000);
                //$("#Component").show(1000);
                $("#AddComp").prop("disabled", false);
                $('#AddComp').text("Add Bundle")
                $('#popupAddtransTitle').text("Add Bundle");

                resetSession('C');


            } else {

                //$("#PostItem").prop("disabled", false);
                $("#ISDummy").prop("disabled", false);

                $("#AddComp").prop("disabled", true);
                $('#AddComp').text("Add");
            }

        });
        $('#PostItem').change(function () {
            if ($('#PostItem').prop('checked')) {
               // showpopup();
                //$("#ISComponent").prop("checked", false);
                //$("#ISComponent").prop("disabled", true);
                $("#ISDummy").prop("checked", false);
                $("#ISDummy").prop("disabled", true);
                $('#popupAddtransTitle').text("Add PosItem");

                $("#AddComp").prop("disabled", false);
                $('#AddComp').text("Add Recipe");
                resetSession('R');
            } else {
                //$("#ISComponent").prop("disabled", false);
                $("#ISDummy").prop("disabled", false);
                $("#AddRecpy").prop("disabled", false);
                //$("#AddComp").prop("disabled", true);
                $('#AddComp').text("Add Bundle");


            }

        });
        $("#AddRecpy").prop("disabled", false);


        $("#Quantity").keydown(function (e) {
            debugger
            var txt = $("#Quantity").val();
            var dotcontainer = txt.split('.');
            if (e.keyCode == 110) {
                if (dotcontainer.length == 1) {
                    debugger
                } else {
                    e.preventDefault();
                }
            } else if (dotcontainer.length == 2) {
                if (dotcontainer[1].length > 2 && e.keyCode != 8)
                    e.preventDefault();
            }
            else {
                if ((e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40) ||
                    $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1) {
                    debugger
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
                    (e.keyCode < 96 || e.keyCode > 105)) {
                    debugger
                    e.preventDefault();
                }
            }

        });

        var myJsVariable = '@ViewBag.title';
        if (myJsVariable.toString().includes("Edit")) {
            checkeditcolumn();
        }
    });

    function checkeditcolumn(){
        $.ajax({
            url: "/Items/checkeditcolumn",
            method: "get",
            data: {
                itemId: '@Model.ID'
            },
            success: function (result) {
                $("#ISComponent").prop("disabled", result.data.enBundle);
                $("#HasStock").prop("disabled", result.data.enStock);
                $("#PostItem").prop("disabled", result.data.enRecpe);
                $("#ISDummy").prop("disabled", result.data.enDummy);
                debugger
                if ('@Model.IsBundle' == 'True') {
                    $("#AddComp").prop("disabled", false);
                    $('#AddComp').text("Add Component")
                } else if ('@Model.IsPOSItem' == 'True' ) {
                    $('#popupAddtransTitle').text("Add PostItem");
                    $("#ISDummy").prop("disabled", false);
                }

            },
            error: function (result) {
                debugger
            }
        });
    }
    function cancel() {
        window.location = "/items/index";

    }

    function showpopup() {
        clearData();
        //$('#popupAddtransTitle').text("Add Item");
        debugger
        $("#mdlAddItemsTrans").modal('show');

    }
    function hidepopup() {
        clearData();
        //$('#popupAddtransTitle').text("Add Item");
        debugger
        $("#mdlAddItemsTrans").modal('hide');

    }


    function clearData() {
        $("#GroupID").val('');
        $('#ItemID').val('');
        $('#ItemName').val('');
        $("#GroupID").select2();
        $("#ItemID").select2();
        $("#ItemName").select2();
        $('#Quantity').val('');
        $('#Notes').val('');
    }

    function getCode() {
        $.ajax({
            url: "/Items/getCode",
            method: "Post",
            data: {
                groupId: $("#GroupIDMST").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $("#Code").val(result.itemCode);


            },
            error: function () {
            },
        });
    }

    function bindItemsDll() {
        $.ajax({
            url: "/Items/BindItemsDll",
            method: "Post",
            data: {
                groupId: $("#GroupID").val(),
                ISComponent: $("#ISComponent").prop('checked'),
                PostItem: $("#PostItem").prop('checked'),
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $("#ItemID").html("");
                $("#ItemName").html("");

                $("#ItemID").append("<option value='-1'>@Strings.Select @Strings.Code</option>");
                $("#ItemName").append("<option value='-1'>@Strings.Select @Strings.Item</option>");
                for (var i = 0; i < result.data.length; i++) {
                    var item = result.data[i];

                    $("#ItemID").append("<option value = '" + item.Value + "' >" + item.Value + "</option>");
                    $("#ItemName").append("<option value = '" + item.Value + "' >" + item.Text + "</option>");
                }

                if ($("#hdnSelectedItemID").val() != '') {
                    $("#ItemID").val($("#hdnSelectedItemID").val());
                    $("#ItemID").trigger("change");
                    $("#ItemName").val($("#hdnSelectedItemID").val());
                    $("#ItemName").trigger("change");
                }

            },
            error: function () {
                $("#div1").html(result);
            },
        });
    }

    function bindItemsCodeDataDll(src) {
        debugger
        //let itemCode = $(src).val();
        //$("#ItemName").val(itemCode);
        //$("#select2-ItemName-container").text(itemCode);
        //$("#ItemName").select2();
        //// $("#ItemName").select2('val', itemCode);
        $.ajax({
            url: "/Transactions/BindItemsDataDll",
            method: "Post",
            data: {
                itemId: $('#ItemID option:selected').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                $("#Unit").val(result.unit);
                //$("#ItemName").val(result.code);
                //$("#ItemName").select2('val', result.code);
                //$("#ItemName").trigger("change");
                let itemCode = $(src).val();
                $("#ItemName").val(itemCode);
                $("#select2-ItemName-container").text(itemCode);
                $("#ItemName").select2();
            },
            error: function () {
                $("#div1").html(result);
            },
        });
    }
    function bindItemsDataDll(src) {
        debugger


        $.ajax({
            url: "/Transactions/BindItemsDataDll",
            method: "Post",
            data: {
                itemId: $('#ItemName option:selected').val()
            },
            beforeSend: function () {
            },
            success: function (result) {
                debugger
                $("#Unit").val(result.unit);
                //$("#ItemID").val(result.code);
                //$("#ItemID").trigger("change");
                let itemCode = $(src).val();
                $("#ItemID").val(itemCode);
                $("#select2-ItemID-container").text(itemCode);
                $("#ItemID").select2();
            },
            error: function () {
                $("#div1").html(result);
            },
        });
    }



    function AddToGrid() {
        $.ajax({
            url: "/Items/BindAddToGrid",
            method: "Post",
            data: {
                groupId: $("#GroupID").val(),
                itemCode: $('#ItemID option:selected').val(),
                ItemName: $('#ItemName option:selected').text(),
                Quantity: $('#Quantity').val(),
                Notes: $('#Notes').val()
            },
            beforeSend: function (result) {
                debugger
            },
            success: function (result) {
                debugger
                //$("#GroupID").val('');
                //$('#ItemID').val('');
                //$('#ItemName').val('');
                //$('#Unit').val('');
                //$('#Price').val('');
                //$('#Quantity').val('');
                //$('#Amount').val('');
                //$('#ItemsNotes').val('');
                hidepopup();
                $('#dtitems').DataTable().ajax.reload();


            },
            error: function () {

            },
        });
    }
    function AddToGridAndNew() {
        $.ajax({
            url: "/Items/BindAddToGrid",
            method: "Post",
            data: {
                groupId: $("#GroupID").val(),
                itemCode: $('#ItemID option:selected').val(),
                ItemName: $('#ItemName option:selected').text(),
                Quantity: $('#Quantity').val(),
                Notes: $('#Notes').val()
            },
            beforeSend: function (result) {
                debugger
            },
            success: function (result) {
                debugger
                //$("#GroupID").val('');
                //$('#ItemID').val('');
                //$('#ItemName').val('');
                //$('#Unit').val('');
                //$('#Price').val('');
                //$('#Quantity').val('');
                //$('#Amount').val('');
                //$('#ItemsNotes').val('');

                clearData();
                if (!$.fn.DataTable.isDataTable('#dtitems')) {

                } else {
                    $('#dtitems').DataTable().ajax.reload();
                }

            },
            error: function () {

            },
        });
    }

    function saveitem() {
        $("#vlItemNameMST").text('');
        $("#vlCode").text('');
        $("#vlGroupIDMST").text('');
        $("#vlUnitID").text('');
        if ($("#ItemNameMST").val() == "") {
            $("#vlItemNameMST").text('req');
            return;
        } else if ($("#Code").val() == "") {
            $("#vlCode").text('req');
            return;
        } else if ($("#GroupIDMST").val() == "") {
            $("#vlGroupIDMST").text('req');
            return;
        } else if ($("#UnitID").val() == "") {
            $("#vlUnitID").text('req');
            return;
        }
        $.ajax({
            url: "/Items/Save",
            data: {
                Code: $("#Code").val(),
                Name: $("#ItemNameMST").val(),
                GroupID: $("#GroupIDMST").val(),
                UnitID: $("#UnitID").val(),
                HasStock: $("#HasStock").prop('checked'),
                ISActive: $("#ISActive").prop('checked'),
                ISComponent: $("#ISComponent").prop('checked'),
                PostItem: $("#PostItem").prop('checked'),
                Dummy: $("#ISDummy").prop('checked'),
                Notes: $("#NotesMST").val(),
                Category: $("#CategoryID").val(),
                method: "Post",
                success: function (result) {
                    debugger
                    window.location = "/Items/addItem"
                },
                error: function (result) {
                    debugger
                }
            }
        });
    }

    function saveitemandexit() {
        debugger
        $("#vlItemNameMST").text('');
        $("#vlCode").text('');
        $("#vlGroupIDMST").text('');
        $("#vlUnitID").text('');
        if ($("#ItemNameMST").val() == "") {
            $("#vlItemNameMST").text('req');
            return;
        } else if ($("#Code").val() == "") {
            $("#vlCode").text('req');
            return;
        } else if ($("#GroupIDMST").val() == "") {
            $("#vlGroupIDMST").text('req');
            return;
        } else if ($("#UnitID").val() == "") {
            $("vlUnitID").text('req');
            return;
        }
        $.ajax({
            url: "/Items/Save",
            data: {
               Code: $("#Code").val(),
                Name: $("#ItemNameMST").val(),
                GroupID: $("#GroupIDMST").val(),
                UnitID: $("#UnitID").val(),
                HasStock: $("#HasStock").prop('checked'),
                ISActive: $("#ISActive").prop('checked'),
                ISComponent: $("#ISComponent").prop('checked'),
                PostItem: $("#PostItem").prop('checked'),
                Dummy: $("#ISDummy").prop('checked'),
                Notes: $("#NotesMST").val(),
               Category: $("#CategoryID").val(),
            },
            type:"json",
            method: "Post",
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                window.location.href = "/items/index";
            },
            error: function (result) {
                debugger
            }
        });
    }

    function UpdateitemsGrid(ItemID) {

        debugger
        $.ajax({
            url: "/Items/UpdateitemsGrid",
            method: "GET",
            data: {
                ItemID: ItemID
            },
            success: function (result) {
                showpopup();
                $('#popupAddtransTitle').text("Edit Item");
                debugger
                $("#GroupID").val(result.data.GroupID);
                $("#GroupID").trigger("change");
                bindItemsDll();
                //$('#ItemID option:selected').value=(result.data.ItemID);

                //$('#ItemName').val(result.data.ItemName);
                //$("#ItemName").trigger("change")
                $('#Quantity').val(result.data.Quantity);
                $('#Notes').val(result.data.Notes);

                $("#hdnSelectedItemID").val(result.data.ItemCode)
            },
            error: function (result) {

            }
        });
    }

     function showConfirmationpopup(ItemCode) {
        $('#deleteitemid').val(ItemCode);
        $('#confirmPopupBody').text('@Strings.DeleteMessage @Strings.Item : ' + ItemCode + " ?");
        $('#Confirmdelete').modal('show');
    }
    function DeleteitemsGrid() {
        debugger
        $.ajax({
            url: "/items/DeleteFromGrid",
            method: "POST",
            data: {
                ItemID: $('#deleteitemid').val()
            },
            success: function (result) {
                debugger
                $('#Confirmdelete').modal('hide');
                $('#deleteitemid').val('');
                $('#dtitems').DataTable().ajax.reload();
            },
            error: function (result) {

            },
        });
    }
    function hidedeletepopup() {
        $('#Confirmdelete').modal('hide');
        $('#deleteitemid').val('');
                }
    function resetSession(type) {
                    $.ajax({
                        url: "/items/resetSession",
                        method: "post",
                        data: {
                            type: type
                        },
                        success: function (result) {
                            $('#dtitems').DataTable().ajax.reload();
                            debugger
                        },
                        error: function (result) {
                            debugger
                        },
                    });
                }

</script>