﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.Item>
@{
    ViewBag.Title = Strings.items;

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Items/AddItem");
    EditBtn = bc.GetUserTicketView("/Items/UpdateItwmView");
    DeleteBtn = bc.GetUserTicketView("/items/DeleteItem");
    PrintBtn = bc.GetUserTicketView("/Items/TransReport");
}



<div class="container">
    <a href="javascript:void(0);">
        @(Strings.Homw) > @(Strings.items)
    </a>
    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            { <button onclick="CreateNew()" class="btn btn-primary">@Strings.AddNewTrans</button>}
            
        </div>

    </p>
    @Html.Hidden("h1", "0")
    <table class="display" width="50%" align="center">
        <tr>
            <td>
                <select id="HasStock" onchange="filter()">
                    <option value="-1">Stock</option>
                    <option value="-1">All</option>
                    <option value="1">yes</option>
                    <option value="2">No</option>
                </select>
            </td>
            <td>
                <select id="IsBundle" onchange="filter()">
                    <option value="-1">Bundle</option>
                    <option value="-1">All</option>
                    <option value="1">yes</option>
                    <option value="2">No</option>
                </select>
            </td>
            <td>
                <select id="ISRecpy" onchange="filter()">
                    <option value="-1">Recpie</option>
                    <option value="-1">All</option>
                    <option value="1">yes</option>
                    <option value="2">No</option>
                </select>
            </td>
            <td>
                <select id="IsDummy" onchange="filter()">
                    <option value="-1">Dummy</option>
                    <option value="-1">All</option>
                    <option value="1">yes</option>
                    <option value="2">No</option>
                </select>
            </td>
        </tr>
    </table>

    <center>

        <table id="dtitems" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>








    <input type="hidden" id="ItemID" />
    <div class="modal fade" id="confirmItemDelete" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@Strings.Delete @Strings.Item </h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h5>@Html.Label("0", new { id = "confirmPopupBody" }) </h5>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                            <a onclick="hidepopup()">@Strings.Cancel</a>
                            @*<input type="submit" name="submit" class="btn btn-primary" value="Add To Grid"  //>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#dtitems')) {
            $('#dtitems').DataTable({
                ajax: {
                    url: "/Items/getitems",
                    type: "GET",
                    dataType: "Json",
                    //data: {
                    //    HasStock: $("#HasStock").val(),
                    //    IsBundle: parseInt( $("#h1").val()),
                    //    ISRecpy: $("#ISRecpy").val(),
                    //    IsDummy: $("#IsDummy").val(),

                    //},
                    data: function (d) {
                        return $.extend({}, d, {
                            HasStock: $("#HasStock").val(),
                            IsBundle: parseInt($("#IsBundle").val()),
                            ISRecpy: $("#ISRecpy").val(),
                            IsDummy: $("#IsDummy").val(),



                        })
                    },
                },
                columns: [
                    { data: 'Code', title: '@Strings.Code', width: "15%" },
                    { data: 'ItemName', title: '@Strings.ItemName', width: "15%" },
                    { data: 'Group', title: '@Strings.Group', width: "10%" },
                    { data: 'Category', title: '@Strings.Category', width: "20%" },
                    { data: 'UnitName', title: '@Strings.UnitName', width: "15%" },
                    {
                        data: 'ISActive',
                        title: '@Strings.ISActive',
                        width: "5%",
                        //"render": simple_checkbox,
                        render: function (data, type, row, meta) {
                            return (data === true) ? '<a class="glyphicon glyphicon-ok"></a>' : '<a class="glyphicon glyphicon-remove"></a>'
                        }
                    },
                    { data: 'Notes', title: '@Strings.Notes', width: "10%" },

                    {
                        data: 'ID',
                        orderable: false,
                        visible: true, width: "15%",
                        render: function (ID, type, row, meta) {
                            debugger
                            return '@if(EditBtn){<a style="Padding-right:10px" href="#" onclick="UpdateitemGrid(' + ID + ')" ><i class="glyphicon glyphicon-pencil" ></i></a >}' +
                                '@if(DeleteBtn){<a href="#" style="Padding-right:10px" onclick="showConfirmationpopup(' + ID + ',\'' + row.ItemName+'\')"  ><i class="glyphicon glyphicon-trash" ></i></a >}'+
                                '@if(PrintBtn){<a href="/Items/TransReport?ItemID=' + ID +'" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a >}'
                        }

                    },
                    //{
                    //    data: 'ID',

                    //    orderable: false,
                    //    visible: true,
                    //    width: "5%",
                    //    render: function (TransNo, type, row, meta) {
                    //        return '<a href="#" onclick="showpopup(' + TransNo + ')" class="btn btn-danger"><i class="glyphicon glyphicon-trash" ></i></a >'
                    //    }

                    //},
                    //{
                    //    data: 'ID',

                    //    orderable: false,
                    //    visible: true,
                    //    width: "5%",
                    //    render: function (TransNo, type, row, meta) {
                    //        return '<a href="/Transactions/TransReport?TransNo=' + TransNo+'" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a >'
                    //    }

                    //},

                ],



            });
        } else {
            $('#dtitems').DataTable().ajax.reload();
        }
    });

    function showConfirmationpopup(ID, ItemName) {
        debugger
         $('#ItemID').val(ID);
        $('#confirmPopupBody').text('@Strings.DeleteMessage @Strings.Item : ' + ItemName+" ?");
         $("#confirmItemDelete").modal('show');
    }

    function hidepopup() {
        $('#confirmItemDelete').modal('hide');
        $('#ItemID').val('');
    }

    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/Items/DeleteItem",
            method: "Post",
            data: {
                ID: $('#ItemID').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmItemDelete').modal('hide');
                $('#ItemID').val('');
                $('#dtitems').DataTable().ajax.reload();

            },
            error: function () {
                debugger
            },
        });
    }

    function CreateNew() {
        window.location.href = "/Items/AddItem";
    }
    function UpdateitemGrid(ID) {
        $.ajax({
            url: "/items/UpdateItem",
            method: "Post",
            data: {
                ID: ID
            },
            beforeSend: function () {

            },
            success: function (result) {
                window.location.href = "/items/UpdateItwmView?itemID=" + ID;
            },
            error: function () {

            },
        });
    }

    function filter() {
        $('#dtitems').DataTable().ajax.reload();
    }
</script>
