﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@{
    ViewBag.Title = "Item Card Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var curDate = @ViewBag.DateTime.ToString("dd/MM/yyyy");

    bool PrintBtn = false;
}
@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    PrintBtn = bc.GetUserTicketView("/ItemCard/ItemCardReport");
}

<div class="container">
    <a href="javascript:void(0);">
        @Strings.Custody >  @Strings.ItemCard
    </a>
    <table width="100%" style="margin:0px;text-align:center">
        <tr>

            <td>

                <label style="margin: 10px">@Strings.From</label>
            </td>
            <td>
                <input class="form-control datepicker" id="FromDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>
            <td>
                <label style="margin: 10px">@Strings.To</label>
            </td>
            <td>
                <input class="form-control datepicker" id="ToDate" data-format="dd/mm/yyyy" type="text" value="@curDate">
            </td>
            <td>
                @Html.Label(Strings.items, new { @style = "margin:10px" })
            </td>
            <td>
                @if (ViewBag.ItemList != null)
                {
                    @Html.DropDownList("ItemList", null, "Select item", new { onchange = "bindGroupDataDll()", @class = "form-control" })
                }
            </td>
            <td>
                @Html.Label(Strings.Group, new { @style = "margin:10px" })
            </td>
            <td>
                @if (ViewBag.GroupList != null)
                {
                    @Html.DropDownList("GroupList", null, "Select Group", new { onchange = "bindItemsDataDll()", @class = "form-control" })
                }
            </td>
        </tr>
        <tr>

            <td style="text-align:left">
                @if (PrintBtn) 
                {<button class="btn btn-primary" id="printReport" onclick="PrintReport()" ;">@Strings.PrintReport</button> }
                
            </td>
        </tr>

    </table>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#ItemList').select2({});
        //$('#GroupList').select2({});

    });
    function bindItemsDataDll() {
        debugger

        $.ajax({
            url: "/ItemCard/bindItemsDataDll",
            method: "Post",
            data: {

                GroupId: $("#GroupList").val()

            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {

                debugger
                $("#ItemList").html("");

                $("#ItemList").append("<option value='-1'>@Strings.Select @Strings.Item</option>");
                //for (var i = 0; i < result.data.length; i++) {
                //    var item = result.data[i];
                //    $("#ItemList").append("<option value = '" + items[i].ID + "' >" + items[i].Name + "</option>")

                //    $("#ItemList").append("<option value = '" + item.Value + "' >" + item.Value + "</option>");
                //}
                var items = result.items;
                for (i = 0; i < items.length; i++) {
                    $("#ItemList").append("<option value = '" + items[i].ID + "' >" + items[i].Name + "</option>")
                }
                //if ($("#hdnSelectedItemID").val() != '') {
                //    debugger
                //    $("#ItemID").val($("#hdnSelectedItemID").val());
                //    $("#ItemID").trigger("change");
                //    $("#ItemName").val($("#hdnSelectedItemID").val());
                //    $("#ItemName").trigger("change");
                //}
            },
            error: function () {

            },
        });
    }

    function bindGroupDataDll() {
        debugger

        $.ajax({
            url: "/ItemCard/bindGroupDataDll",
            method: "Post",
            data: {

                ItemId: $("#ItemList").val()

            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger

                var v = result.itemGroup[0].ItemGroupID;

                $("#GroupList").val(v);

                ////var itemGroup = result.itemGroup;

                ////    $("#GroupList").append("<option value = '" + itemGroup.ID + "' >" + itemGroup.Name + "</option>")


            },
            error: function () {

            },
        });
    }
    function PrintReport() {

        var Url = '/ItemCard/ItemCardReport?FromDate=' + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val();
        window.open(Url, '_blank');
    }

</script>