﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;
@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.Unit>
@{
    ViewBag.Title = "Item Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/itemGroup/save");
    EditBtn = bc.GetUserTicketView("/itemGroup/EditItemGroup");
    DeleteBtn = bc.GetUserTicketView("/itemGroup/DeleteItemGroup");
    PrintBtn = bc.GetUserTicketView("/itemGroup/ItemGroupReport");
}
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dtunit')) {
            $('#dtitgroup').DataTable({
                ajax: {
                    url: "/ItemGroup/GetItemGroups",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'itemgroupCode', title: '@Strings.ItemGroupCode', width: "16%" },
                    { data: 'itemgroupName', title: '@Strings.ItemGroupName', width: "16%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "59%" },
                    {
                        data: 'itemgroupNo',
                        orderable: false,
                        visible: true, width: "9%",
                        render: function (itemgroupNo, type, row, meta) {
                            return '@if (EditBtn) {<a href="javascript:void(0)" onclick="EditItemGroup(' + itemgroupNo + ')" ><i class="glyphicon glyphicon-pencil" style"float:center" ></i></a > } '+
                                '@if(DeleteBtn){<a href="javascript:void(0)" onclick="showdeletepopup(' + itemgroupNo + ')" class="btn"><i class="glyphicon glyphicon-trash" style"float:center" ></i></a >}'
                        }

                    },

                ],

            });

        } else {
            $('#dtitgroup').DataTable().ajax.reload();
        }
    });
    function showdeletepopup(itemgroupNo) {
        $('#itemgroupNo').val(itemgroupNo);
        $('#confirmPopupBody').text('@Strings.deleteconfirmitemgroup' + itemgroupNo + " ?");
        $("#confirmItemGroupDelete").modal('show');
    }
    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/ItemGroup/DeleteItemGroup",
            method: "Post",
            data: {
                itemgroupNo: $('#itemgroupNo').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmItemGroupDelete').modal('hide');
                $('#itemgroupNo').val('');
                $('#dtitgroup').DataTable().ajax.reload();

            },
            error: function () {

            },
        });
    }
    function hidepopup() {
        $('#confirmItemGroupDelete').modal('hide');
        $('#itemgroupNo').val('');
    }
    function showAEpopup() {
        clearData();
        $('#popupAddItemGroupTitle').text("@Strings.addItemgroup");
        debugger
        $("#mdlAddItemGroup").modal('show');
    }
    function hideAEpopup() {
        $('#mdlAddItemGroup').modal('hide');
    }
    function clearData() {
        $('#itemGroupCode').val('');
        $('#itemGroupName').val('');
        $('#itemGroupNote').val('');
    }
    function EditItemGroup(itemgroupNo) {
        $.ajax({
            url: "/ItemGroup/EditItemGroup",
            method: "GET",
            data: {
                itemgroupNo: itemgroupNo
            },
            success: function (result) {
                debugger
                $("#mdlAddItemGroup").modal('show');
                $('#popupAddItemGroupTitle').text("@Strings.EditItemGroup");

                $('#itemGroupCode').val(result.data.Code);
                $('#itemGroupName').val(result.data.Name);
                $('#itemGroupNote').val(result.data.Notes);

            },
            error: function (result) {

            }
        });
    }
    function Save() {
        $.ajax({
            url: "/ItemGroup/Save",
            method: "Post",
            data: {
                Code: $("#itemGroupCode").val(),
                Name: $("#itemGroupName").val(),
                Notes: $('#itemGroupNote').val(),

            },
            beforeSend: function (result) {
            },
            success: function (result) {
                hideAEpopup();
                $('#dtitgroup').DataTable().ajax.reload();
            },
            error: function () {

            },
        });
    }

    function saveandnew() {
        $.ajax({
            url: "/ItemGroup/Save",
            method: "Post",
            data: {
                Code: $("#itemGroupCode").val(),
                Name: $("#itemGroupName").val(),
                Notes: $('#itemGroupNote').val(),

            },
            beforeSend: function (result) {

            },
            success: function (result) {
                $('#dtitgroup').DataTable().ajax.reload();
                clearData();


            },
            error: function () {

            },
        });
    }
</script>
<div class="container">

    <a href="javascript:void(0);">
        @Strings.inventory >  @Strings.itemGroups
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            { <button onclick="showAEpopup()" class="btn btn-primary">@Strings.CreateItemGroup</button>}
            @if (PrintBtn)
            {<a type="button" target="_blank" class="btn btn-primary" href=' @Url.Action("ItemGroupReport","ItemGroup")' ;">@Strings.PrintReport</a> }
            
        </div>
    </p>
    <center>
        <table id="dtitgroup" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </center>
</div>

<input type="hidden" id="itemgroupNo" />

<div class="modal fade" id="confirmItemGroupDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.DeleteItemGroup</h3>
            </div>
            <div class="modal-body">

                <h4>@Html.Label("0", new { id = "confirmPopupBody" }) </h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                        <a onclick="hidepopup()">@Strings.Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mdlAddItemGroup">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="popupAddItemGroupTitle"></h3>
            </div>
            <div class="modal-body">
                <table style="margin-bottom:0px">
                    <tr>
                        <td width="10%">
                            @Html.Label(@Strings.Code)
                            @Html.TextBox("itemGroupCode", "", new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            @Html.Label(@Strings.Name)
                            @Html.TextBox("itemGroupName", "", new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            @Html.Label(@Strings.Notes)
                            @Html.TextArea("itemGroupNote", "", 5, 5, new { @class = "form-control" })
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="Save()">@Strings.Save</button>
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="saveandnew()">@Strings.SaveAndNew</button>

                        <a onclick="hideAEpopup()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
