﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.Warehouse>

@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/warehouse/save");
    EditBtn = bc.GetUserTicketView("/warehouse/EditWarehouse");
    DeleteBtn = bc.GetUserTicketView("/warehouse/DeleteWarehouse");
    PrintBtn = bc.GetUserTicketView("/warehouse/WarehouseReport");
}


<script type="text/javascript">
     $(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dtwarehouse')) {
            $('#dtwarehouse').DataTable({
                ajax: {
                    url: "/Warehouse/GetWarehouses",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'WarehouseName', title: '@Strings.Name', width: "25%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "66%" },
                    {
                        data: 'Warehouseid',
                        orderable: false,
                        visible: true, width: "9%",
                        render: function (Warehouseid, type, row, meta) {
                            return '@if (EditBtn) {<a href="javascript:void(0)" onclick="EditWarehouse(' + Warehouseid + ')" ><i class="glyphicon glyphicon-pencil" style"float:center" ></i></a > } '+
                                '@if(DeleteBtn){<a href="javascript:void(0)" onclick="showdeletepopup(' + Warehouseid + ')" class="btn"><i class="glyphicon glyphicon-trash" style"float:center" ></i></a >}'
                        }

                    },

                ],

            });

        } else {
            $('#dtwarehouse').DataTable().ajax.reload();
        }
     });
    function showdeletepopup(Warehouseid) {
        $('#Warehouseid').val(Warehouseid);
        $('#confirmPopupBody').text('@Strings.deleteconfirmwarehouse' + Warehouseid + " ?");
        $("#confirmWarehouseDelete").modal('show');
    }
    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/Warehouse/DeleteWarehouse",
            method: "Post",
            data: {
                Warehouseid: $('#Warehouseid').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmWarehouseDelete').modal('hide');
                $('#Warehouseid').val('');
                $('#dtwarehouse').DataTable().ajax.reload();

            },
            error: function () {

            },
        });
    }
    function hidepopup() {
        $('#confirmWarehouseDelete').modal('hide');
        $('#Warehouseid').val('');
    }
    function showAEpopup() {
        clearData();
        $('#popupAddWarehouseTitle').text("@Strings.Addwarehouse");
        debugger
        $("#mdlAddWarehouse").modal('show');
    }
    function EditWarehouse(Warehouseid) {
        $.ajax({
            url: "/Warehouse/EditWarehouse",
            method: "GET",
            data: {
                Warehouseid: Warehouseid
            },
            success: function (result) {
                debugger
                $("#mdlAddWarehouse").modal('show');
                $('#popupAddWarehouseTitle').text("@Strings.EditWarehouse");
                $('#WarehouseName').val(result.data.Name);
                $('#WarehouseNote').val(result.data.Notes);

            },
            error: function (result) {

            }
        });
    }
    function hideAEpopup() {
        $('#mdlAddWarehouse').modal('hide');
    }
    function Save() {
        $.ajax({
            url: "/Warehouse/Save",
            method: "Post",
            data: {
                Name: $("#WarehouseName").val(),
                Notes: $('#WarehouseNote').val(),

            },
            beforeSend: function (result) {
            },
            success: function (result) {
                hideAEpopup();
                $('#dtwarehouse').DataTable().ajax.reload();
            },
            error: function () {

            },
        });
    }
    function clearData() {
        $('#WarehouseName').val('');
        $('#WarehouseNote').val('');
    }
    function saveandnew() {
        $.ajax({
            url: "/Warehouse/Save",
            method: "Post",
            data: {
                Name: $("#WarehouseName").val(),
                Notes: $('#WarehouseNote').val(),

            },
            beforeSend: function (result) {

            },
            success: function (result) {
                $('#dtwarehouse').DataTable().ajax.reload();
                clearData();


            },
            error: function () {

            },
        });
    }
</script>

<div class="container">

    <a href="javascript:void(0);">
        @Strings.inventory >  @Strings.Warehouses
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button onclick="showAEpopup()" class="btn btn-primary">@Strings.Addwarehouse</button> }
            
            @if (PrintBtn)
            {<a type="button" target="_blank" class="btn btn-primary" href=' @Url.Action("WarehouseReport","Warehouse")' ;">@Strings.PrintReport</a> }
            
        </div>
    </p>
    <center>
        <table id="dtwarehouse" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </center>
</div>

<input type="hidden" id="Warehouseid" />

<div class="modal fade" id="confirmWarehouseDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.Deletewarehouse</h3>
            </div>
            <div class="modal-body">

                <h4>@Html.Label("0", new { id = "confirmPopupBody" }) </h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                        <a onclick="hidepopup()">@Strings.Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlAddWarehouse">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="popupAddWarehouseTitle"></h3>
            </div>
            <div class="modal-body">
                <table style="margin-bottom:0px">
                    <tr>
                        <td width="10%">
                            @Html.Label(@Strings.Name)
                            @Html.TextBox("WarehouseName", "", new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            @Html.Label(@Strings.Notes)
                            @Html.TextArea("WarehouseNote", "", 5, 5, new { @class = "form-control" })
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="Save()">@Strings.Save</button>
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="saveandnew()">@Strings.SaveAndNew</button>

                        <a onclick="hideAEpopup()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


