﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@model Agi.DonerKonner.DataAccess.Custody.CustodyDelivey
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Delivery/save");
    EditBtn = bc.GetUserTicketView("/Delivery/EditCDelivery");
    DeleteBtn = bc.GetUserTicketView("/Delivery/DeleteCDelivery");
    PrintBtn = bc.GetUserTicketView("/Delivery/CustodyDeliveryReport");
}

<div class="container">

    <a href="javascript:void(0);">
        @Strings.Custody >  @Strings.Delivery
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button onclick="showAEpopup()" class="btn btn-primary">@Strings.AddCustodyDelivery</button>}
            @if (PrintBtn)
            {<a type="button" target="_blank" class="btn btn-primary" href=' @Url.Action("CustodyDeliveryReport","Delivery")' ;">@Strings.PrintReport</a>}
            
        </div>
    </p>
    <center>
        <table id="dtDelivery" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </center>
</div>

<input type="hidden" id="CDeliveryid" />

<div class="modal fade" id="mdlAddCDelivery">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="popupAddCDeliveryTitle"></h3>
            </div>
            <div class="modal-body">
                <table style="margin-bottom:0px">
                    <tr>
                        <td width="10%" style="padding-right:10px">
                            @Html.Label(@Strings.DeliveryDate)
                            @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = " form-control datepicker" } })*@
                            <input class="form-control datepicker" id="CDeliveryDate" name="CDeliveryDate" data-format="dd/mm/yyyy" type="text" max="@Model.Date.ToString("dd/MM/yyyy")" value="@Model.Date.ToString("dd/MM/yyyy")">
                            @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepiker", placeholder = "ex: 20 nov 2018" } })*@
                        </td>

                        <td width="10%" style="padding-left:10px">
                            @Html.Label(@Strings.Amount)
                            @Html.TextBox("CDeliveryAmount", "", new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            @Html.Label(@Strings.Notes)
                            @Html.TextArea("CDeliveryNote", "", 5, 5, new { @class = "form-control" })
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="Save()">@Strings.Save</button>
                        <button type="button" name="AddToGrid" class="btn btn-primary" onclick="saveandnew()">@Strings.SaveAndNew</button>

                        <a onclick="hideAEpopup()">@Strings.Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmCDDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Strings.DeleteCustodyDelivery</h3>
            </div>
            <div class="modal-body">

                <h4>@Html.Label("0", new { id = "confirmPopupBody" }) </h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                        <a onclick="hidepopup()">@Strings.Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        if (!$.fn.DataTable.isDataTable('#dtDelivery')) {
            $('#dtDelivery').DataTable({
                ajax: {
                    url: "/Delivery/GetCDelivery",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'CDeliveryDate', title: '@Strings.DeliveryDate', width: "15%" },
                    { data: 'CDeliveryAmount', title: '@Strings.Amount', width: "15%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "61%" },
                    {
                        data: 'CDeliveryid',
                        orderable: false,
                        visible: true, width: "9%",
                        render: function (CDeliveryid, type, row, meta) {
                             return '@if(EditBtn){<a href="javascript:void(0)" onclick="EditCDelivery(' + CDeliveryid + ')" ><i class="glyphicon glyphicon-pencil"></i></a >}'+
                                '@if(DeleteBtn){<a href="javascript:void(0)" onclick="showdeletepopup(' + CDeliveryid + ')" class="btn"><i class="glyphicon glyphicon-trash"></i></a >}'
                        }
                    },
                    
                ],

            });

        } else {
            $('#dtDelivery').DataTable().ajax.reload();
        }

        $("#CDeliveryAmount").keydown(function (e) {
            var txt = $("#CDeliveryAmount").val();
            var dotcontainer = txt.split('.');
            if (e.keyCode == 110) {
                if (dotcontainer.length == 1) {

                } else {
                    e.preventDefault();
                }
            } else if (dotcontainer.length == 2) {
                if (dotcontainer[1].length > 2 && e.keyCode != 8)
                    e.preventDefault();
            }
            else {
                if ((e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40) ||
                    $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1) {

                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
                    (e.keyCode < 96 || e.keyCode > 105)) {

                    e.preventDefault();
                }
            }

        });

    });

    function clearData() {
        $('#CDeliveryDate').val('@Model.Date.ToString("dd/MM/yyyy")');
        $('#CDeliveryAmount').val('');
        $('#CDeliveryNote').val('');
    }
    function showAEpopup() {
        if (!$("#CDeliveryid").val())
        {
            $("#CDeliveryid").val('0')
        }
        clearData();
        $('#popupAddCDeliveryTitle').text("@Strings.AddCustodyDelivery");

        $("#mdlAddCDelivery").modal('show');
    }
    function hideAEpopup() {
        $('#mdlAddCDelivery').modal('hide');
        $('#CDeliveryid').val('');
    }
    function Save() {
        $.ajax({
            url: "/Delivery/Save",
            method: "Post",
            data: {
                CDeliveryid: $("#CDeliveryid").val(),
                CDeliveryDate: $("#CDeliveryDate").val(),
                CDeliveryAmount: $('#CDeliveryAmount').val(),
                CDeliveryNote: $('#CDeliveryNote').val()

            },
            beforeSend: function (result) {
            },
            success: function (result) {
                hideAEpopup();
                $('#dtDelivery').DataTable().ajax.reload();
                $('#CDeliveryid').val('');
            },
            error: function () {

            },
        });
    }

    function saveandnew() {
        $.ajax({
            url: "/Delivery/Save",
            method: "Post",
            data: {
                CDeliveryid : $("#CDeliveryid").val(),
                CDeliveryDate: $("#CDeliveryDate").val(),
                CDeliveryAmount: $('#CDeliveryAmount').val(),
                CDeliveryNote: $('#CDeliveryNote').val()
            },
            beforeSend: function (result) {

            },
            success: function (result) {
                $('#dtDelivery').DataTable().ajax.reload();
                clearData();
                $('#CDeliveryid').val('');


            },
            error: function () {

            },
        });
    }
    function EditCDelivery(CDeliveryid) {
        $.ajax({
            url: "/Delivery/EditCDelivery",
            method: "GET",
            data: {
                CDeliveryid: CDeliveryid
            },
            success: function (result) {
                debugger
                $("#mdlAddCDelivery").modal('show');
                $('#popupAddCDeliveryTitle').text("@Strings.EditCd");

                $('#CDeliveryid').val(result.data.ID),
                $('#CDeliveryDate').val(result.data.Date),
                $('#CDeliveryAmount').val(result.data.Amount),
                $('#CDeliveryNote').val(result.data.Notes)

            },
            error: function (result) {

            }
        });
    }
    function showdeletepopup(CDeliveryid) {
        $('#CDeliveryid').val(CDeliveryid);
        $('#confirmPopupBody').text('@Strings.deleteconfirmcd' + " ?");
        $("#confirmCDDelete").modal('show');
    }
    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/Delivery/DeleteCDelivery",
            method: "Post",
            data: {
                CDeliveryid: $('#CDeliveryid').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmCDDelete').modal('hide');
                $('#CDeliveryid').val('');
                $('#dtDelivery').DataTable().ajax.reload();

            },
            error: function () {

            },
        });
    }
    function hidepopup() {
        $('#confirmCDDelete').modal('hide');
        $('#CDeliveryid').val('');
    }

</script>