﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;
@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.InvReceipt>
@{
    ViewBag.Title = Strings.InvReceipts;

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Transactions/AddTrans");
    EditBtn = bc.GetUserTicketView("/Transactions/UpdateTransView");
    DeleteBtn = bc.GetUserTicketView("/Transactions/DeleteTrans");
    PrintBtn = bc.GetUserTicketView("/Transactions/TransReport");
}

@Html.Hidden("Vathdn", 0)
<div class="container">
    <a href="javascript:void(0);">
        @(Strings.Homw) > @(Strings.InvReceipts)
    </a>
    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            { <button onclick="CreateNew()" class="btn btn-primary">@Strings.AddNewTrans</button>}
            
        </div>

    </p>

    @*<table class="display" width="50%" align="center">
            <tr>
                <td>
                    <select id="HasStock" onchange="filter()">
                        <option value="-1">HasStock</option>
                        <option value="-1">All</option>
                        <option value="1">yes</option>
                        <option value="2">No</option>
                    </select>
                </td>
                <td>
                    <select id="IsBundle" onchange="filter()">
                        <option value="-1">IsBundle</option>
                        <option value="-1">All</option>
                        <option value="1">yes</option>
                        <option value="2">No</option>
                    </select>
                </td>
                <td>
                    <select id="ISRecpy" onchange="filter()">
                        <option value="-1">ISRecpy</option>
                        <option value="-1">All</option>
                        <option value="1">yes</option>
                        <option value="2">No</option>
                    </select>
                </td>
                <td>
                    <select id="IsDummy" onchange="filter()">
                        <option value="-1">IsDummy</option>
                        <option value="-1">All</option>
                        <option value="1">yes</option>
                        <option value="2">No</option>
                    </select>
                </td>
            </tr>
        </table>*@

    <center>

        <table id="dttrans" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>








    <input type="hidden" id="TransID" />
    <div class="modal fade" id="confirmItemDelete" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@Strings.Delete @Strings.InvReceipts </h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h5>@Html.Label("0", new { id = "confirmPopupBody" }) </h5>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteFromGrid()">@Strings.Delete</button>
                            <a onclick="hidepopup()">@Strings.Cancel</a>
                            @*<input type="submit" name="submit" class="btn btn-primary" value="Add To Grid"  //>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
        $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#dttrans')) {
            $('#dttrans').DataTable({
                ajax: {
                    url: "/InvReceipts/getTrans",
                    type: "GET",
                    data: { val: parseFloat($("#Vathdn").val() == undefined ? 0 : $("#Vathdn").val()) },
                    dataType: "Json"
                },
                columns: [
                    { data: 'WarhouseName', title: '@Strings.Warehouse', width: "13%" },
                    { data: 'TransNo', title: '@Strings.TransNo', width: "12%" },
                    { data: 'TransDate', title: '@Strings.TransDate', width: "12%" },
                    { data: 'itemsCount', title: '@Strings.NoofItems', width: "10%" },
                    {
                        data: 'TAmount', title: '@Strings.NetAmount', width: "13%",
                        render: function (TAmount, type, row, meta) {
                            return TAmount.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                        }

                    },
                    { data: 'Notes', title: '@Strings.Notes', width: "30%" },
                    {
                        data: 'TransNo',
                        orderable: false,
                        visible: true, width: "10%",
                        render: function (TransNo, type, row, meta) {
                            return '@if(EditBtn){<a href="" onclick="UpdateTrans(' + TransNo + ')" ><i class="glyphicon glyphicon-pencil" ></i></a >}' +
                                '@if(DeleteBtn){<a href="#" onclick="showConfirmationpopup(' + TransNo + ')" class="btn"><i class="glyphicon glyphicon-trash" ></i></a >}' +
                                '@if(PrintBtn){<a href="/InvReceipts/TransReport?TransNo=' + TransNo + '" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a >}'
                        }
                    },
                    //{
                    //    data: 'TransNo',
                    //    orderable: false,
                    //    visible: true,
                    //    width: "5%",
                    //    render: function (TransNo, type, row, meta) {
                    //        return '<a href="#" onclick="showConfirmationpopup(' + TransNo + ')" class="btn"><i class="glyphicon glyphicon-trash" ></i></a >'
                    //    }
                    //},
                    //{
                    //    data: 'TransNo',
                    //    orderable: false,
                    //    visible: true,
                    //    width: "5%",
                    //    render: function (TransNo, type, row, meta) {
                    //        return '<a href="/InvReceipts/TransReport?TransNo=' + TransNo+'" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a >'
                    //    }

                    //},

                ],



            });
        } else {
            $('#dttrans').DataTable().ajax.reload();
        }
        });
    function showConfirmationpopup(TransNo) {
        $('#TransID').val(TransNo);
        $('#confirmPopupBody').text('@Strings.DeleteMessage @Strings.InvReceipts : ' +TransNo+" ?");
         $("#confirmItemDelete").modal('show');
    }

    function hidepopup() {
        $('#confirmItemDelete').modal('hide');
        $('#TransID').val('');
    }

    function DeleteFromGrid() {
        debugger
        $.ajax({
            url: "/InvReceipts/DeleteTrans",
            method: "Post",
            data: {
                Transno: $('#TransID').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                $('#confirmItemDelete').modal('hide');
                $('#TransID').val('');
                $('#dttrans').DataTable().ajax.reload();

            },
            error: function () {
                debugger
            },
        });
    }

    function CreateNew() {
        window.location.href = "/InvReceipts/AddTrans";
    }
    function UpdateTrans(ID) {
        $.ajax({
            url: "/InvReceipts/UpdateTrans",
            method: "Post",
            data: {
                Transno: ID
            },
            beforeSend: function () {

            },
            success: function (result) {
                window.location.href = "/InvReceipts/UpdateTransView?Transno=" + ID;
            },
            error: function () {

            },
        });
    }

    function filter() {
        $('#dttrans').DataTable().ajax.reload();
    }
</script>