﻿@using Agi.DonerKonner.Globalization
@model Agi.DonerKonner.DataAccess.Inventory.InvAdjustment
@{
    ViewBag.Title = "Creat Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Boolean isadd = @ViewBag.IsAdd;
}
<style>
    tr.row2 td {
        padding-top: 15px;
    }

    table, th, td {
        padding: 5px;
    }
</style>
<div class="container">

    <a href="javascript:void(0);">
        @Strings.inventory > @Strings.Adjustment > @Strings.AdjustmentTrans
    </a>
    <div class="form-horizontal">
        <table>
            <tr>
                <td>
                    @Html.Label("Transaction no")
                </td>
                <td>
                    @Html.Editor("TransNo", new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })
                </td>
                <td>
                    @Html.Label("Transaction Date")
                </td>
                <td>
                    <input style="padding-left:10px" class="form-control datepicker" id="Date" name="Date" data-format="dd/mm/yyyy" value="@ViewBag.TransDate.ToString("dd/MM/yyyy")" />
                </td>
                <td>
                    @Html.LabelFor(Model => Model.Warehouse)
                </td>
                <td>
                    @Html.DropDownList("WarehouseID", null, "Select WareHouse")
                </td>
            </tr>
        </table>
        <table width="100%" style="margin:0px">
            <tr>

                <td width="10%">
                    @Html.LabelFor(model => model.Notes)
                </td>
                <td width="90%">
                    @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control"  , @id = "PhNotes" } })


                </td>
            </tr>

        </table>
        <br />
        <button class="btn btn-primary" type="button" style="margin-bottom:20px" onclick="showItempopup()">@Strings.AddItem</button>
        <br />
        <center>
            <table id="dtitems" class="display">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </center>
        <br />
        <div style="float:right">
            <button type="button" onclick="if ('@ViewBag.isadd') { CreatAdjustment(); } else { EditAdjustment(); }" class="btn btn-primary">@Strings.Save</button>
            <button type="button" onclick="if ('@ViewBag.isadd') { CreatAdjustmentandNew(); } else { EditAdjustmentandNew(); }" class="btn btn-primary">@Strings.SaveAndNew</button>
            <a href="/Adjustment/Index">@Strings.Cancel</a>
        </div>
    </div>
</div>
@Html.Hidden("AddandNew", false);
<div class="modal" tabindex="-1" role="dialog" id="mdlAddItemsTrans">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="itemsPopupContainer">

        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        debugger
        if (!$.fn.DataTable.isDataTable('#dtitems')) {
            $('#dtitems').DataTable({
                ajax: {
                    url: "/Adjustment/fillDataTable",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [

                    { data: 'ItemCode', title: '@Strings.ItemCode', width: "10%" },
                     { data: 'ItemName', title: '@Strings.ItemName', width: "15%" },
                    { data: 'UnitName', title: '@Strings.Unit', width: "6%" },
                    { data: 'Qty', title: '@Strings.QTY', width: "10%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "45%" },
                    {
                        data: 'guid',
                        orderable: false,
                        visible: true, width: "8%",
                        render: function (guid, type, row, meta) {
                            return "<a href=\"javascript:void(0)\" onclick=\"showItemeditpopup('" + guid + "')\" ><i class=\"glyphicon glyphicon-pencil\" ></i></a >" +
                                "<a href=\"javascript:void(0)\" onclick=\"showConfirmationpopup('" + row.ItemCode + "')\" class=\"btn\"><i class=\"glyphicon glyphicon-trash\" ></i></a >"
                        }

                    },

                ],

            });
        } else {
            $('#dtitems').DataTable().ajax.reload();
        }


    
        $('#WarehouseID').select2({});



    });
    function hideItempopup() {
        clearData();
        $('#mdlAddItemsTrans').modal('hide');
    }


    function showItempopup() {

        $.ajax({
            url: "/Adjustment/Additem",
            type: "Get",
            success: function (response) {
                debugger
                clearData();

                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');

            }
        })
    }
    function showItemeditpopup(guid) {
        debugger
        $.ajax({
            url: "/Adjustment/Edititem",
            type: "Get",
            data: {
                guid: guid
            },
            success: function (response) {
                debugger

                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');

                $('#ItemList').val(response.ItemId).trigger('change');
                $('#Qty').val(response.Qty);
                $('#ItemsNotes').val(response.Notes);
              
            }
        })
    }
    function bindItemsDataDll(src) {
        debugger
        let itemval = $(src).val();
        let itemid = $(src).attr('id');
        $.ajax({
            url: "/Adjustment/bindItemsDataDll",
            method: "Post",
            data: {

                ItemId: $("#ItemList").val()
                
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                $("#Unit").val(result.unitName);

                if (itemid === "ItemList") {
                    $('#CodeList').attr("onchange", "");
                    $('#CodeList').val(itemval).trigger('change');
                    $('#CodeList').attr("onchange", "bindItemsCodeDataDll(this)");
                }
                else if (itemid === "CodeList") {
                    $('#ItemList').attr("onchange", "");
                    $('#ItemList').val(itemval).trigger('change');
                    $('#ItemList').attr("onchange", "bindItemsDataDll(this)");
                }

            },
            error: function () {

            },
        });
    }

    function bindItemsCodeDataDll(src) {
        debugger
        let itemval = $(src).val();
        let itemid = $(src).attr('id');
        $.ajax({
            url: "/Adjustment/bindItemsDataDll",
            method: "Post",
            data: {

                ItemId: $("#CodeList").val()
               
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                $("#Unit").val(result.unitName);

                if (itemid === "ItemList") {
                    $('#CodeList').attr("onchange", "");
                    $('#CodeList').val(itemval).trigger('change');
                    $('#CodeList').attr("onchange", "bindItemsCodeDataDll(this)");
                }
                else if (itemid === "CodeList") {
                    $('#ItemList').attr("onchange", "");
                    $('#ItemList').val(itemval).trigger('change');
                    $('#ItemList').attr("onchange", "bindItemsDataDll(this)");
                }

            },
            error: function () {

            },
        });
    }

    function AddToSession() {
        debugger
        var guid = $('#itemguid').val();
        $.ajax({
            url: "/Adjustment/AddItem",
            method: "Post",
            data: {
                guid: guid,
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                if (!result.IsValid) {
                    $("#error").text(result.message);
                }
                else if (!result.saveandnewFlag) {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#mdlAddItemsTrans").modal('hide');
                    $("#error").text('');
                    clearData();
                }
                else {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditToSession() {
        debugger
        $.ajax({
            url: "/Adjustment/Edititem",
            method: "Post",
            data: {
                guid: $('#itemguid').val(),
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (!result.IsValid) {

                    $("#error").text(result.message);
                }
                else if (!result.saveandnewFlag) {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#error").text('');
                    clearData();
                }
                else {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }

    function AddToSessionAndNew() {
        debugger
        $("#SaveandNewFlag").val(true);
        $.ajax({
            url: "/Adjustment/AddItem",
            method: "Post",
            data: {
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                if (!result.IsValid) {
                    $("#error").text(result.message);
                }
                else if (result.saveandnewFlag) {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#error").text('');
                    clearData();
                }
                else {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditToSessionAndNew() {
        debugger
        $("#SaveandNewFlag").val(true);
        $.ajax({
            url: "/Adjustment/Edititem",
            method: "Post",
            data: {
                guid: $('#itemguid').val(),
                saveandnewFlag: $("#SaveandNewFlag").val(),
                ItemId: $("#ItemList").val(),
                ItemName: $("#ItemList option:selected").text(),
                ItemCode: $("#CodeList option:selected").text(),
                UnitName: $("#Unit").val(),
                Qty: $("#Qty").val(),
                Notes: $("#ItemsNotes").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (!result.IsValid) {

                    $("#error").text(result.message);
                }
                else if (result.saveandnewFlag) {
                    $('#dtitems').DataTable().ajax.reload();
                    $("#error").text('');
                    clearData();
                }
                else {
                    $('#dtitems').DataTable().ajax.reload();
                    hideItempopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }
     function showConfirmationpopup(guid) {
        $.ajax({
            url: "/Adjustment/ConfirmationDeletePopup",
            type: "Get",
            data: {
                guid: guid
            },
            success: function (response) {
                debugger
                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');
                $("#confirmPopupBody").text('@Strings.deleteexpconfrmitionmsg');


            },
        });
    }
    function EditAdjustment() {
        $("#AddandNew").val(false);
        debugger
        $.ajax({
            url: "/Adjustment/EditAdjustment",
            method: "Post",
            data: {
                AddandNew: $("#AddandNew").val(),
                WarehouseId: $('#WarehouseID').val(),
                TransNo: $('#TransNo').val(),
                TransDate: $('#Date').val(),
                PhNotes: $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (result.IsValid == false) {

                    $("#Dateerror").text(result.message);
                }
                else {
                    $("#Dateerror").text(" ");
                    window.location.href = "/Adjustment/Index";

                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditAdjustmentandNew() {
        $("#AddandNew").val(true);
        debugger
        $.ajax({
            url: "/Adjustment/EditAdjustment",
            method: "Post",
            data: {
                AddandNew: $("#AddandNew").val(),
                WarehouseId: $('#WarehouseID').val(),
                TransNo: $('#TransNo').val(),
                TransDate: $('#Date').val(),
                PhNotes: $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
               
                window.location.href = "/Adjustment/CreatAdjustment";

            },
            error: function () {
                debugger
            },
        });

    }
    function CreatAdjustment() {
        $("#AddandNew").val(false);
        debugger
        $.ajax({
            url: "/Adjustment/CreatAdjustment",
            method: "Post",
            data: {
                AddandNew: $("#AddandNew").val(),
                WarehouseId: $('#WarehouseID').val(),
                TransNo: $('#TransNo').val(),
                TransDate: $('#Date').val(),
                PhNotes: $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (result.IsValid == false) {

                    $("#Dateerror").text(result.message);
                }
                else {
                    $("#Dateerror").text(" ");
                    window.location.href = "/Adjustment/Index";

                }

            },
            error: function () {
                debugger
            },
        });

    }
    function CreatAdjustmentandNew() {
        $("#AddandNew").val(true);
        debugger
        $.ajax({
            url: "/Adjustment/CreatAdjustment",
            method: "Post",
            data: {
                AddandNew: $("#AddandNew").val(),
                WarehouseId: $('#WarehouseID').val(),
                TransNo: $('#TransNo').val(),
                TransDate: $('#Date').val(),
                PhNotes: $('#PhNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger

                window.location.href = "/Adjustment/CreatAdjustment";

            },
            error: function () {
                debugger
            },
        });

    }
    function hidedelpopup() {
        $("#mdlAddItemsTrans").modal('hide');
    }
    function clearData() {

        $('#ItemList').val('');
        $('#CodeList').val('');
        $('#Unit').val('');
        $('#Qty').val('');
        $('#ItemsNotes').val('');

    }

    function DeleteFromGrid(guid) {
        debugger
        $.ajax({
            url: "/Adjustment/DeleteItem",
            type: "Post",
            data: {
                guid: guid
            },
            success: function (response) {
                debugger
                $("#mdlAddItemsTrans").modal('hide');
                $('#dtitems').DataTable().ajax.reload();
            },
            error: function () {
                debugger
            },

        });
    }
</script>



