﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;
@model IEnumerable<Agi.DonerKonner.DataAccess.Inventory.InvAdjustment>
@{
    ViewBag.Title = "Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Adjustment/CreatAdjustment");
    EditBtn = bc.GetUserTicketView("/Adjustment/EditAdjustment");
    DeleteBtn = bc.GetUserTicketView("/Adjustment/ConfirmationDeletePhPopup");
    PrintBtn = bc.GetUserTicketView("/Adjustment/AdjustmentReport");
}

<div class="container">
    <a href="javascript:void(0);">
        @Strings.inventory > @Strings.Adjustment
    </a>
    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button onclick="CreatAdjustment()" class="btn btn-primary">@Strings.AdjustmentTrans</button>}
            
        </div>
    </p>
    <center>
        <table id="dtAdjustment" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
</div>
<div class="modal" tabindex="-1" role="dialog" id="mdlAddItemsTrans">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="itemsPopupContainer">

        </div>
    </div>
</div>

<script type="text/javascript">
     $(document).ready(function () {

         if (!$.fn.DataTable.isDataTable('#dtAdjustment')) {
             $('#dtAdjustment').DataTable({
                ajax: {
                     url: "/Adjustment/AdjustmentList",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'WarehouseName', title: '@Strings.Warehouse', width: "13%" },
                    { data: 'TransNo', title: '@Strings.TransNo', width: "12%" },
                    { data: 'TransDate', title: '@Strings.TransDate', width: "12%" },
                    { data: 'itemsCount', title:'@Strings.NoofItems', width: "10%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "43%" },
                    {
                        data: 'TransNo',
                        orderable: false,
                        visible: true, width: "10%",
                        render: function (TransNo, type, row, meta) {
                            return '@if (EditBtn) {<a href="javascript:void(0)" onclick="EditAdjustment(' + TransNo + ')" ><i class="glyphicon glyphicon-pencil" ></i></a > }'+
                             '@if (DeleteBtn) {<a href="javascript:void(0)" onclick="ConfirmationDeleteAdjPopup(' + TransNo + ')" class="btn"><i class="glyphicon glyphicon-trash" ></i></a > }'+
                            '@if (PrintBtn) {<a href="/Adjustment/AdjustmentReport?TransNo=' + TransNo + '" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a > }'
                          
                        }

                    },
                ],

            });
        } else {
             $('#dtAdjustment').DataTable().ajax.reload();
        }
     });

    function CreatAdjustment() {

        window.location.href = "/Adjustment/CreatAdjustment";
    }
    function EditAdjustment(TransNo) {

        window.location.href = "/Adjustment/EditAdjustment?TransNo=" + TransNo;

    }
    function ConfirmationDeleteAdjPopup(TransNo) {
        $.ajax({
            url: "/Adjustment/ConfirmationDeletePhPopup",
            type: "Get",
            data: {
                TransNo: TransNo
            },
            success: function (response) {
                debugger
                $("#itemsPopupContainer").html(response.page);
                $("#mdlAddItemsTrans").modal('show');
                $("#confirmPopupBody").text('@Strings.deleteexpconfrmitionmsg');


            },
        });
    }
    function DeletePhFromGrid(TransNo) {
        debugger
        $.ajax({
            url: "/Adjustment/DeletePhItem",
            type: "Post",
            data: {
                TransNo: TransNo
            },
            success: function (response) {
                debugger
                $("#mdlAddItemsTrans").modal('hide');
                $('#dtAdjustment').DataTable().ajax.reload();
            },
            error: function () {
                debugger
            },

        });
    }

</script>
