﻿@using Agi.DonerKonner.Globalization;
@model Agi.DonerKonner.DataAccess.Custody.CustodyExpensesItem

@{

    string Id = @ViewBag.idval;


}

<div class="modal-header">
    <h5 class="modal-title">@Strings.AddItem</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <input type="hidden" id="SaveandNewFlag" />

    @Html.Hidden("itemguid", Id);
</div>

<div class="modal-body">
    <table style="margin-bottom:0px">
        <tr>
            <td width="10%" style="padding-right:10px">
                @Html.Label(@Strings.Custodyitem)
                @Html.DropDownList("Citems", null, Strings.Select + " " + Strings.Custodyitem, new { @class = "form-control" })
            </td>

            <td width="10%" style="padding-right:10px">
                @Html.Label(@Strings.Amount)
                @Html.TextBox("Amount", "", new { @class = "form-control exAmount" })
            </td>

        </tr>
        <tr>
            <td colspan="4">
                @Html.Label("Notes")
                @Html.TextArea("Notes", "", 5, 5, new { @class = "form-control" })
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" name="AddToGrid" class="btn btn-primary" onclick="if ('@ViewBag.iscreate') { AddToSession(); } else { EditToSession(); } ">@Strings.Save</button>
            <button type="button" name="AddToGrid" class="btn btn-primary" onclick="if ('@ViewBag.iscreate') { AddToSessionAndNew(); } else { EditToSessionAndNew(); }">@Strings.SaveAndNew</button>

            <a onclick="hidepopup()">@Strings.Cancel</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#SaveandNewFlag').val(false);
        $("#Amount").keydown(function (e) {
            var txt = $("#Amount").val();
            var dotcontainer = txt.split('.');
            if (e.keyCode == 110) {
                if (dotcontainer.length == 1) {

                } else {
                    e.preventDefault();
                }
            } else if (dotcontainer.length == 2) {
                if (dotcontainer[1].length > 2 && e.keyCode != 8)
                    e.preventDefault();
            }
            else {
                if ((e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40) ||
                    $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1) {

                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
                    (e.keyCode < 96 || e.keyCode > 105)) {

                    e.preventDefault();
                }
            }

        });
    });
</script>
