﻿@using Agi.DonerKonner.Globalization;
@model Agi.DonerKonner.DataAccess.Custody.CustodyExpenses

@{
    ViewBag.Title = "ExpensesItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Boolean isadd = @ViewBag.IsAdd;
}
<style>
    tr.row2 td {
        padding-top: 15px;
    }

    table, th, td {
        padding: 5px;
    }

    table {
        border: 0;
    }
</style>

<div class="modal" tabindex="-1" role="dialog" id="itemsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="itemsPopupContainer">

        </div>
    </div>
</div>

<div class="container">
    <a href="javascript:void(0);">
        @Strings.Custody >  @Strings.Payment > @Strings.ExpensesItems
    </a>
    <br />
    <br />
    <div class="form-horizontal">
        <table style="width:100%">
            <tr>
                <td width="5%" ">
                    @Html.Label(@Strings.date)
                </td>
                <td width="15%">
                    <input style="padding-left:10px" class="form-control datepicker" id="ExPDate" name="Date" data-format="dd/mm/yyyy" type="text" value="@ViewBag.ExPDate.ToString("dd/MM/yyyy")" />
                    <span id="Dateerror" style="color:red; font-size:small"></span>
                </td>
                <td width="5%">
                    @Html.Label(@Strings.Notes)
                </td>
                <td width="75%">
                    @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", @id = "EXNotes" } })
                </td>

            </tr>
        </table>
    </div>
    <span id="spanmessage" style="color:red"></span>
    <p style="margin-left:80px; width:80%">
        <div>
            <button onclick="Addpopup()" class="btn btn-primary">@Strings.AddItem</button>
        </div>
    </p>


    <center>
        <table id="dtExpensesItem" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
    <br />
    <br />
    <div style="float:right">
        <button type="button" onclick="if ('@ViewBag.isadd') { AddEXCustody(); } else { EditEXCustody(); }" class="btn btn-primary">@Strings.Save</button>
        <button type="button" onclick="if ('@ViewBag.isadd') { AddEXCustodyandNew(); } else { EditEXCustodyandNew(); }" class="btn btn-primary">@Strings.SaveAndNew</button>
        <a href="/Payment/Index">@Strings.Cancel</a>
    </div>
</div>
@Html.Hidden("AddandNew", false);
@Html.Hidden("ID");

<script type="text/javascript">
    $(document).ready(function () {
    if (!$.fn.DataTable.isDataTable('#dtExpensesItem')) {
        $('#dtExpensesItem').DataTable(
            {
                ajax: {
                    url: "/Payment/FillGrid",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'Amount', title:'@Strings.Amount', width: "15%" },
                    { data: 'CustodyName', title:'@Strings.Custodyitem', width: "15%" },
                    { data: 'Notes', title:'@Strings.Notes', width: "59%" },
                    {
                        data: 'Id',
                        orderable: false,
                        visible: true, width: "8%",
                        render: function (Id, type, row, meta) {
                            return "<a href=\"javascript:void(0)\" onclick=\"showItemeditpopup('" + Id + "')\" ><i class=\"glyphicon glyphicon-pencil\" ></i></a >" +
                                "<a href=\"javascript:void(0)\" onclick=\"showConfirmationpopup('" + Id + "')\" class=\"btn\"><i class=\"glyphicon glyphicon-trash\" ></i></a >"
                        }

                    },

                ],
            });
        } else
        {
            $('#dtExpensesItem').DataTable().ajax.reload();
        }

    });

    function AddEXCustody() {
        $("#AddandNew").val(false);
        debugger
        $.ajax({
            url: "/Payment/AddEXCustody",
            method: "Post",
            data: {
                AddandNew : $("#AddandNew").val(),
                ExPDate : $('#ExPDate').val(),
                EXNotes : $('#EXNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (result.IsValid == false) {

                    $("#Dateerror").text(result.message);
                }
                else
                {
                    $("#Dateerror").text(" ");
                    window.location.href = "/Payment/Index";

                }

            },
            error: function () {
                debugger
            },
        });

    }
    function AddEXCustodyandNew() {
        $("#AddandNew").val(true);
        debugger
        $.ajax({
            url: "/Payment/AddEXCustody",
            method: "Post",
            data: {
                AddandNew : $("#AddandNew").val(),
                ExPDate : $('#ExPDate').val(),
                EXNotes : $('#EXNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger

                window.location.href = "/Payment/AddEXCustody";

            },
            error: function () {
                debugger
            },
        });

    }
    function EditEXCustody() {
        $("#AddandNew").val(false);
        debugger
        $.ajax({
            url: "/Payment/EditEXCustody",
            method: "Post",
            data: {
                Id : $("#ID").val(),
                AddandNew : $("#AddandNew").val(),
                ExPDate : $('#ExPDate').val(),
                EXNotes : $('#EXNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (result.IsValid == false) {

                    $("#Dateerror").text(result.message);
                }
                else
                {
                    $("#Dateerror").text(" ");
                    window.location.href = "/Payment/Index";

                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditEXCustodyandNew() {
        $("#AddandNew").val(true);
        debugger
        $.ajax({
            url: "/Payment/EditEXCustody",
            method: "Post",
            data: {
                AddandNew : $("#AddandNew").val(),
                ExPDate : $('#ExPDate').val(),
                EXNotes : $('#EXNotes').val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger

                window.location.href = "/Payment/AddEXCustody";
            },
            error: function () {
                debugger
            },
        });

    }

    function Addpopup() {
        debugger
        $.ajax({
            url: "/Payment/Additem",
            type: "Get",
            success: function (response) {
                debugger
                $("#itemsPopupContainer").html(response.page);
                $("#itemsModal").modal('show');

            }
        })
    }
    function showItemeditpopup(Id) {
        debugger
        $.ajax({
            url: "/Payment/Edititem",
            type: "Get",
            data: {
                Id :Id
            },
            success: function (response) {
                debugger

                $("#itemsPopupContainer").html(response.page);
                $("#itemsModal").modal('show');

                $('#Citems').val(response.CustodyId).trigger('change');
                $('#Amount').val(response.Amount);
                $('#Notes').val(response.notes);

            },
            error: function () {
                debugger
            }
        })
    }
    function hidepopup() {
        $("#itemsModal").modal('hide');
    }
    function clearpopupData() {
        $("#Citems").val(''),
        $("#Amount").val(''),
        $("#Notes").val('')
    }

    function AddToSession() {
            debugger
            var Id = $('#itemguid').val();
            $.ajax({
                url: "/Payment/AddItem",
                method: "Post",
                data: {
                    Id : Id,
                    saveandnewFlag: $("#SaveandNewFlag").val(),
                    CustodyId: $("#Citems").val(),
                    CustodyName: $("#Citems option:selected").text(),
                    Amount: $("#Amount").val(),
                    Notes: $("#Notes").val()
                },
                beforeSend: function () {
                    debugger
                },
                success: function (result) {
                    debugger
                    if (!result.IsValid)
                    {
                        $("#error").text(result.message);
                    }
                    else if (!result.saveandnewFlag)
                    {
                        $('#dtExpensesItem').DataTable().ajax.reload();
                        $("#itemsModal").modal('hide');
                        cleardata();
                    }
                    else
                    {
                        $('#dtExpensesItem').DataTable().ajax.reload();
                        $("#itemsModal").modal('hide');
                        cleardata();
                    }

                },
                error: function () {
                    debugger
                },
            });

    }
    function AddToSessionAndNew() {
        debugger

        $("#SaveandNewFlag").val(true);
        $.ajax({
            url: "/Payment/AddItem",
            method: "Post",
            data: {

                    saveandnewFlag: $("#SaveandNewFlag").val(),
                    CustodyId: $("#Citems").val(),
                    CustodyName: $("#Citems option:selected").text(),
                    Amount: $("#Amount").val(),
                    Notes: $("#Notes").val()
            },
            beforeSend: function () {
                debugger
            },
            success: function (result) {
                debugger
                if (!result.IsValid)
                {
                    $("#error").text(result.message);
                }
                else if (result.saveandnewFlag)
                {
                    $('#dtExpensesItem').DataTable().ajax.reload();

                    clearpopupData();
                }
                else
                {
                    $('#dtExpensesItem').DataTable().ajax.reload();
                    $("#itemsModal").modal('hide');
                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditToSession() {
        $("#SaveandNewFlag").val(false);
        debugger
        $.ajax({
            url: "/Payment/Edititem",
            method: "Post",
            data: {
                Id: $('#itemguid').val(),
                saveandnewFlag: $("#SaveandNewFlag").val(),
                CustodyId: $("#Citems").val(),
                CustodyName: $("#Citems option:selected").text(),
                Amount: $("#Amount").val(),
                Notes: $("#Notes").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (result.saveandnewFlag)
                {
                    $('#dtExpensesItem').DataTable().ajax.reload();
                    clearpopupData();
                }
                else
                {
                    $('#dtExpensesItem').DataTable().ajax.reload();
                    hidepopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }
    function EditToSessionAndNew() {
        debugger
        $("#SaveandNewFlag").val(true);
        $.ajax({
            url: "/Payment/Edititem",
            method: "Post",
            data: {
                 Id : $('#itemguid').val(),
                saveandnewFlag: $("#SaveandNewFlag").val(),
                CustodyId: $("#Citems").val(),
                CustodyName: $("#Citems option:selected").text(),
                Amount: $("#Amount").val(),
                Notes: $("#Notes").val()
            },
            beforeSend: function () {

            },
            success: function (result) {
                debugger
                if (!result.saveandnewFlag)
                {
                    $('#dtExpensesItem').DataTable().ajax.reload();
                    clearpopupData();
                    $('#itemguid').val(result.Id);
                }
                else
                {
                    $('#dtExpensesItem').DataTable().ajax.reload();
                    hidepopup();
                }

            },
            error: function () {
                debugger
            },
        });

    }

    function showConfirmationpopup(Id) {
        $.ajax({
            url: "/Payment/ConfirmationDeletePopup",
            type: "Get",
            data: {
                guid: Id
            },
            success: function (response) {
                debugger
                $("#itemsPopupContainer").html(response.page);
                $("#itemsModal").modal('show');
                $("#confirmPopupBody").text('@Strings.deleteexpconfrmitionmsg');


            },
        });
    }
    function DeleteFromGrid(Id) {
        debugger
         $.ajax({
                url: "/Payment/DeleteItem",
                type: "Post",
                data: {
                    guid: Id
                },
                success: function (response) {
                    debugger
                    $("#itemsModal").modal('hide');
                    $('#dtExpensesItem').DataTable().ajax.reload();
             },
                error: function () {
                debugger
             },

            });
    }



</script>
