﻿@using DonerKonner.Helpers;
@using Agi.DonerKonner.Globalization;
@using Agi.DonerKonner.Controllers;

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool CreateBtn = false;
    bool EditBtn = false;
    bool DeleteBtn = false;
    bool PrintBtn = false;
}

@if (SiteInfo.IsLogged)
{
    BasicCRUDController bc = new BasicCRUDController();
    CreateBtn = bc.GetUserTicketView("/Payment/AddEXCustody");
    EditBtn = bc.GetUserTicketView("/Payment/EditEXCustody");
    DeleteBtn = bc.GetUserTicketView("/Payment/ConfirmationDeleteEXPopup");
    PrintBtn = bc.GetUserTicketView("/Payment/PaymentReport");
}
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="deletePopupContainer">

        </div>
    </div>
</div>
<div class="container">
    <a href="javascript:void(0);">
        @Strings.Custody >  @Strings.Payment
    </a>

    <p style="margin-left:80px; width:80%">
        <div>
            @if (CreateBtn)
            {<button type="button" class=" btn btn-primary" onclick="CreateNew()" ;">@Strings.AddExItem</button>}

            </div>
    </p>
    <center>
        <table id="dtExpenses" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
</div>
<script type="text/javascript">

        $(document).ready(function () {

            if (!$.fn.DataTable.isDataTable('#dtExpenses')) {
                $('#dtExpenses').DataTable(
                    {
                        ajax: {
                            url: "/Payment/ExpensesList",
                            type: "GET",
                            dataType: "Json"
                        },
                        columns: [
                            { data: 'Date', title:'@Strings.date', width: "15%" },
                            { data: 'Count', title:'@Strings.itemnum', width: "13%" },
                            { data: 'Notes', title:'@Strings.Notes', width: "60%" },
                            {
                                data: 'ID',
                                orderable: false,
                                visible: true, width: "14%",
                                render: function (ID, type, row, meta) {
                                    return '@if(EditBtn){<a href="javascript:void(0)" onclick="UpdateEXCustody(' + ID + ')" ><i class="glyphicon glyphicon-pencil" ></i></a >}' +
                                        '@if(DeleteBtn){<a href="javascript:void(0)" onclick="ConfirmationDeleteEXPopup(' + ID + ')" class="btn"><i class="glyphicon glyphicon-trash"></i></a >}' +
                                        '@if(PrintBtn){<a href="/Payment/PaymentReport?ID=' + ID + '" target="_blank" ><i class="glyphicon glyphicon-print" ></i></a >}'
                                }
                            }

                        ],
                    });
            } else {
                $('#dtExpenses').DataTable().ajax.reload();
            }

        });

    function ConfirmationDeleteEXPopup(ID) {
        $.ajax({
            url: "/Payment/ConfirmationDeleteEXPopup",
            type: "Get",
            data: {
                ID: ID
            },
            success: function (response) {
                debugger
                 $("#deletePopupContainer").html(response.page);
                $("#deleteModal").modal('show');
                $("#confirmPopupBody").text('@Strings.deleteexpconfrmitionmsg');
            },
            error: function () {
                debugger

            },
        });
    }

    function DeleteEXFromGrid(ID) {
        debugger
         $.ajax({
                url: "/Payment/DeleteEXItem",
                type: "Post",
                data: {
                    ID: ID
                },
                success: function (response) {
                    debugger
                    $("#deleteModal").modal('hide');
                    $('#dtExpenses').DataTable().ajax.reload();
             },
                error: function () {
                debugger
             },

            });
    }

    function CreateNew() {
        window.location.href = "/Payment/AddEXCustody";
    }
    function UpdateEXCustody(ID) {
        debugger
        window.location.href = "/Payment/EditEXCustody?ID=" + ID;

    }
</script>
