﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <script src="~/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script>

        //$(function () {

        //    $(".modais").iziModal({
        //        history: false,
        //        iframe: true,
        //        fullscreen: true,
        //        headerColor: '#000000',
        //        group: 'group1',
        //        loop: true
        //    });

        //})

        function opens() {
            debugger
            $("#myModal").modal('show');
        }
    </script>
</head>
<body>
    <div>
        <a href="#" class="btn btn-primary" onclick="opens()">Open Modal</a>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Items </h3>
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
