﻿@using Agi.DonerKonner.Globalization;




<div class="modal-header">
    <h3 class="modal-title">@Strings.Delete</h3>
</div>
<div class="modal-body">

    <h4>@Html.Label("0", new { id = "confirmPopupBody" }) </h4>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" name="AddToGrid" class="btn btn-danger" onclick="DeleteRole()">@Strings.Delete</button>
            <a onclick="hidedeletpopup()">@Strings.Cancel</a>

        </div>
    </div>
</div>