﻿@using Agi.DonerKonner.Globalization;
@model IEnumerable<Agi.DonerKonner.DataAccess.Admin.SystemFunction>
@using Agi.DonerKonner.Helpers;
@using Agi.DonerKonner.DataAccess;
@{
    bool check = ViewBag.isAdd;
    var db = new DonerKonnerContext();
    var list = ViewBag.list as List<int> ?? new List<int>();
    string lst = string.Join(",", list);
}
@*<link href="~/Content/jsTree/themes/default-dark/style.min.css" rel="stylesheet" />*@
@*<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />*@
<link href="~/Content/jsTree/themes/proton/style.min.css" rel="stylesheet" />
<div class="modal-header">
    <h3 class="modal-title" id="popupAddRoleTitle"></h3>
</div>
<table width="35%" style="height:350px;border-collapse:separate; border-spacing:20px; margin-left:20px;margin-right:200px;margin-top:20px;float:left">
    <tr style="width:20%">
        <td width="10%" style="margin-right:50px">
            @Html.Label(Strings.Name)
            @Html.TextBox("SecurityRoleName", "", new { @class = "form-control" })
        </td>
        <td style="text-align:right; width:4% ;padding-top:30px">
            @Html.CheckBox("IsActive", new { @style = "margin:0px", @checked = true })
        </td>
        <td style="text-align:left; width:7%;padding-top:30px">
            @Html.Label(Strings.ISActive)
        </td>
    </tr>
    <tr>
        <td colspan="4" width="25%" height="10%">
            @Html.Label(@Strings.Notes)
            @Html.TextArea("Notes", "", 5, 5, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
    </tr>
</table>
<table style="height:300px; float: left">
    <tr>
        <td>
            <div class="modal-body">
                <div class="input-group">
                    <label>@Html.Label(@Strings.Search) </label><input type="text" class="form-control" placeholder="Search node .." id="search">

                </div><!-- /input-group -->
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="jstree" style="width:120%;overflow:auto; height:330px;">
                @(Html.TreeView(Model)
                    .EmptyContent("DonnerKonner")
                    .Children(o => (db.SystemFunctions.OrderBy(s => s.Code).Where(x => x.DependOnID == o.ID)))
                    .HtmlAttributes(new { id = "tree" })
                    .ChildrenHtmlAttributes(new { @class = "subItem" })
                    .ItemText(m => m.Name)
                    .ItemTemplate(
                                @<text>
                                    <a href="@item.Name" desc="@item.Name">@item.Name</a>
                                </text>)
                )
            </div>
        </td>
    </tr>
</table>
<div class="modal-footer" style="height:400px">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" name="AddToGrid" class="btn btn-primary" onclick="if ('@check') { Save(); } else { EditRole(); } ">@Strings.Save</button>
            <a onclick="hideAEpopup()">@Strings.Cancel</a>
        </div>
    </div>
</div>

<script src="~/Scripts/jsTree3/jstree.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#jstree').jstree({

            "core": {

                "multiple": true,
                "check_callback": false,

                'themes': {
                    'name':'proton',
                    "responsive": true,
                    'variant': 'larg',
                    'stripes': false,
                    'dots': true
                }
            },
            "types": {
                "default": {
                    "icon": "fa fa-folder icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            },
            "checkbox": {
                "keep_selected_style": false
            },
            "search": {
                "case_insensitive": true,
                "show_only_matches": true
            },
            "plugins": ["types", "checkbox","search"]

        }).on('ready.jstree', function () {
            debugger
            let data = '@lst';
            let arr = data.split(',') || [];

            $('#jstree').jstree('select_node', arr);

        });

        $('#search').keyup(function () {
            debugger
            $('#jstree').jstree('search', $(this).val());
        });
    });

</script>
