﻿@using Agi.DonerKonner.Globalization;
@model IEnumerable<Agi.DonerKonner.DataAccess.Admin.SecurityRole>
@{
    ViewBag.Title = "Index";

}
<style>
    .loader {
        position: absolute;
        width: 100%;
        text-align: center;
    }
</style>
@Html.Hidden("SecurityRoleNo", 0);
<div class="loader">
    <img src="~/Images/loading.gif" id="loading-image" />
</div>
<div class="container">
    <a href="javascript:void(0);">
        @Strings.administration >  @Strings.SecurityRoles
    </a>
    <p style="margin-left:80px; width:80%">
        <div>
            <button onclick="AddRole()" class="btn btn-primary">@Strings.CreateSecurityRole</button>
        </div>
    </p>

    @*********data table*********@
    <center>
        <table id="dtsecurity" class="display">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </center>
</div>


@**********popup delete***********@
<div class="modal fade" id="confirmRoleDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="deletePoopupContainer">
        </div>
    </div>
</div>
@****************popup************@
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="mdlAddUSecurityRole">
    <div class="modal-dialog modal-xl" style="width:80%" role="document">
        <div class="modal-content" style="height:600px"  id="treePopupContainer">

        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#loading-image').hide();
        debugger
        if (!$.fn.DataTable.isDataTable('#dtsecurity')) {
            $('#dtsecurity').DataTable({
                ajax: {
                    url: "/SecurityRoles/GetSecurityRole",
                    type: "GET",
                    dataType: "Json"
                },
                columns: [
                    { data: 'SecurityRoleName', title: '@Strings.SecurityRoles', width: "19%" },
                    { data: 'Notes', title: '@Strings.Notes', width: "40%" },
                    { data: 'IsActive', title: '@Strings.ISActive', width:"30%" },
                    {
                        data: 'SecurityRoleNo',
                        orderable: false,
                        visible: true, width: "3%",
                        render: function (SecurityRoleNo, type, row, meta) {
                            return '<a href="javascript:void(0)" onclick="GetEditRole(' + SecurityRoleNo + ')" ><i class="glyphicon glyphicon-pencil" style"float:center" ></i></a > '
                        }

                    },
                    {
                        data: 'SecurityRoleNo',

                        orderable: false,
                        visible: true,
                        width: "3%",
                        render: function (SecurityRoleNo, type, row, meta) {
                            debugger
                            return '<a href="javascript:void(0)" onclick="showdeletepopup(' + SecurityRoleNo + ')" class="btn"><i class="glyphicon glyphicon-trash" style"float:center" ></i></a >'
                        }

                    },

                ],

            });

        } else {
            $('#dtsecurity').DataTable().ajax.reload();
        }
    });



    function showAEpopup() {
        ClearData();
        $('#popupAddRoleTitle').text('@Strings.AddSecurityRole');
        $('#mdlAddUSecurityRole').modal('show');
    }


    function showdeletepopup(SecurityRoleNo) {
            $.ajax({
            url: "/SecurityRoles/GetDeletePopup",
            method: "GET",
            data: {
                securityRoleID: SecurityRoleNo
            },
            success: function (result) {
                debugger
                $('#deletePoopupContainer').html(result.page);
                $("#SecurityRoleNo").val(result.ID);
                $('#confirmPopupBody').text('@Strings.CofirmDeleteRole');
                $("#confirmRoleDelete").modal('show');

            },
            error: function (result) {

            },
        });
    }

        function hideAEpopup() {
            $('#mdlAddUSecurityRole').modal('hide');
        }

        function hidedeletpopup() {
            $('#confirmRoleDelete').modal('hide');
        }

        function ClearData() {
        $('#SecurityRoleName').val('');
        $('#Notes').val('');
        }

    function AddRole() {
        debugger
        $('#loading-image').show();
        $.ajax({
            url: "/SecurityRoles/AddRole",
            method: "Get",

            beforeSend: function () {

            },
            success: function (response) {
                debugger
                $("#treePopupContainer").html(response.page);
                $('#popupAddRoleTitle').text('@Strings.AddSecurityRole');
                $('#mdlAddUSecurityRole').modal('show');
            },complete: function () {
                $('#loading-image').hide();
            },
            error: function () {

            },
        })
    }

    function GetEditRole(SecurityRoleNo) {
        $('#loading-image').show();
        $.ajax({
            url: "/SecurityRoles/GetEditRole",
            method: "Get",
            data: {
                securityRoleID: SecurityRoleNo
            },
            success: function (result) {
                debugger
                $("#treePopupContainer").html(result.page);
                $("#SecurityRoleName").val(result.data.Name);
                $("#Notes").val(result.data.Notes);
                $('#SecurityRoleNo').val(result.data.id);
                $('#mdlAddUSecurityRole').modal('show');
                $('#popupAddRoleTitle').text('@Strings.EditSecurityRole');
                $("#jstree").jstree("get_selected");
            },complete: function () {
                $('#loading-image').hide();
            },
            error: function () {

            },
        });
    }

    function EditRole() {

        debugger
         var checked_ids = [];
        $("#jstree").find(".jstree-undetermined").each(function (i, element) {

            checked_ids.push($(element).closest('.jstree-node').attr("id"));
        });
        var arr1 = $("#jstree").jstree("get_selected");
        $.ajax({
            url: "/SecurityRoles/EditRole",
            method: "Post",
            data: {
                Name: $("#SecurityRoleName").val(),
                Notes: $("#Notes").val(),
                IsActive: $("#IsActive").val(),
                SecurityRoleId: $("#SecurityRoleNo").val(),
                systemfunnctions:arr1.concat(checked_ids)
            },
            success: function (result) {
                debugger
                $('#mdlAddUSecurityRole').modal('hide');
                $('#dtsecurity').DataTable().ajax.reload();
                location.reload(true);
            },
            error: function (result) {

            },
        });
     }

    function Save() {
        debugger


        $.ajax({
            url: "/SecurityRoles/AddRole",
            method: "Post",
            data: {
                Name: $("#SecurityRoleName").val(),
                Notes: $("#Notes").val(),
                IsActive: $("#IsActive").val(),
                systemfunnctions: $("#jstree").jstree("get_selected")
            },
            beforeSend: function () {

            },
            success: function (response) {
                $('#mdlAddUSecurityRole').modal('hide');
                $('#dtsecurity').DataTable().ajax.reload();
            },
            error: function () {

            },
        });

     }

    function DeleteRole() {
        debugger
        $.ajax({
            url: "/SecurityRoles/DeleteRole",
            method: "Post",
            data: {
                securityRoleID: $("#SecurityRoleNo").val()

            },
            beforeSend: function () {

            },
            success: function (response) {

                $('#confirmRoleDelete').modal('hide');
                $('#dtsecurity').DataTable().ajax.reload();


            },
            error: function () {

            },
        });
    }


</script>

